{% block footer_menu %}
    <div class="e-footer-menu-title">Бюро</div>
    {% set menuItems = getBottomMenuItemsBase64() %}
    <ul class="b-footer-menu-agreements" menu-container-css="js-popup-menu" ng-popup-menu="1" ng-menu="'{{ menuItems | raw }}'">
        <li class="b-footer-menu-agreements-item"><a class="e-footer-menu-item-link" href="javascript:void(0);">Документы</a></li>
    </ul>
    <ul class="b-payment-systems">
        <li class="b-payment-system">
            <a class="e-payment-system__link" href="http://www.pay2pay.com/" target="_blank">
                <img class="b-payment-system__image" src="{{ asset('bundles/app/images/b-payment-systems__pay2pay.png') }}">
            </a>
        </li>
        <li class="b-payment-system">
            <a class="e-payment-system__link" href="javascript:void(0);">
                <img class="b-payment-system__image" src="{{ asset('bundles/app/images/b-payment-systems__visa.png') }}">
            </a>
        </li>
        <li class="b-payment-system">
            <a class="e-payment-system__link" href="javascript:void(0);">
                <img class="b-payment-system__image" src="{{ asset('bundles/app/images/b-payment-systems__mastercard.png') }}">
            </a>
        </li>
    </ul>
    <ul class="b-footer-menu-social-services">
        <li class="b-footer-menu-social-services-item b-footer-menu-social-services-instagram">
            <a target="_blank" class="b-footer-menu-social-services-item-link" href="{{ snippet('instagram_url') | raw  }}">
                <span class="e-footer-menu-social-services-item-link-instagram"></span>
            </a>
        </li>
        <li class="b-footer-menu-social-services-item b-footer-menu-social-services-vkontakte">
            <a target="_blank"  class="b-footer-menu-social-services-item-link" href="{{ snippet('vkontakte_url') | raw }}">
                <span class="e-footer-menu-social-services-item-link-vkontakte"></span>
            </a>
        </li>
    </ul>
    <div class="l-copyright">
         <a class="b-link__copyright" href="http://hellshamsters.com" target="_blank">
            <div class="b-copyright">
                <div class="e-image__copyright"></div>
                <div class="b-text__copyright">
                    <div class="e-one-line__text">Сайт сделала</div>
                    <div class="e-second-line__text">команда Hellshamsters</div>
                </div>
            </div>
         </a>
    </div>
{% endblock %}