<!DOCTYPE html>
<html>

<head>
    {% include 'admin/head.html.twig' %}
    <link rel="stylesheet" href="/bundles/app/css/compiled/signin.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/bundles/app/css/compiled/signup.css" type="text/css" media="screen" />
</head>
<body>
{#<div>#}
    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
        {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
        {#<a href="{{ path('fos_user_security_logout') }}">#}
            {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
        {#</a>#}
    {#{% else %}#}
        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
    {#{% endif %}#}
{#</div>#}
{% for type, messages in app.session.flashBag.all %}
    asdfasdf
    {% for message in messages %}
        <div class="{{ type }}" style="text-align: center;margin-top: 10px;">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>
