{% block menu %}
    {% set menuAactiveItem = app.request.attributes.get('_route') %}
    {% set menuItems = getTopMenuItems() %}
    {% set currentPath =  path(app.request.attributes.get('_route'))  %}
        <ul class="b-header-menu">
            {% for menuItem in menuItems %}
                <li class="e-menu-item__header"><a class="e-menu-item-link__header {% if currentPath == menuItem.link %}e-menu-item-link__header-selected{% endif %}" href="{{ menuItem.link }}">{{ menuItem.title }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}