<div class="l-popup__success ng-hide" ng-show="successPopup.visibility">
    <div class="b-popup">
        <div class="e-header__popup" ng-click="successPopup.visibility = !successPopup.visibility"></div>
        <div class="e-title__popup">ng{$root.successPopup.title}ng</div>
        <div class="e-content__popup">
            ng{$root.successPopup.text}ng
        </div>
    </div>
</div>