<!DOCTYPE html>
<html ng-app="bureau">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block seo_title %}Бюро всего{% endblock %}</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/bundles/app/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bundles/app/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bundles/app/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bundles/app/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/bundles/app/images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/bundles/app/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/bundles/app/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/bundles/app/images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/bundles/app/images/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/bundles/app/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="./bundles/app/images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/bundles/app/images/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/bundles/app/images/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="./images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="./images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="./images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="./images/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="./images/favicon/mstile-310x310.png" />

    {% set currentPath =  path(app.request.attributes.get('_route'))  %}
    {% for tag in getMetaTags(currentPath) %}
        <meta name="{{ tag.name }}" property="{{ tag.property }}" content="{{ tag.content }}">
    {% endfor %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300&subset=cyrillic,latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    {% stylesheets filter='uglifycss' filter='cssrewrite'
       'bundles/app/css/normalize.css'
       'bundles/app/css/font-awesome.css'
       'bundles/app/css/nanoscroller.css'
       'bundles/app/css/nga.min.css'
       'bundles/app/css/main.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% for block in getHeaderHtmlBlocks(currentPath) %}
        {{ block.content |raw }}
    {% endfor %}
</head>
    <body ng-class="{'b-scrollable': hidden, 'b-scrollable__false': !hidden}">
        {% block body %}{% endblock %}

        {% include 'templates.html.twig' %}

        {% javascripts filter='uglifyjs2'
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/angular/angular.min.js'
            'assets/vendor/angular-sanitize/angular-sanitize.min.js'
            'assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js'
            'assets/vendor/angular-ngMask/dist/ngMask.min.js'
            'assets/vendor/wampush/include/autobahn-wamp1.min.js'
            'assets/vendor/hamsterjs/hamster.js'
            'assets/vendor/angular-sticky-container/angular-sticky-container.js'
            'assets/vendor/moment/moment.js'
            'assets/vendor/angular-animate/angular-animate.min.js'
            'assets/vendor/enquire/dist/enquire.min.js'
            'bundles/app/js/bureau.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
        {% for block in getBodyHtmlBlocks(currentPath) %}
            {{ block.content |raw }}
        {% endfor %}
    </body>
</html>
