{% block body %}
    <script type="text/ng-template" id="b-message__request.html">
        <div class="b-message__request" {#ng-show="$root.operatorResponded"#}>
            <div class="b-avatar__request">
                <div class="e-avatar__image">
                    <img src="/bundles/app/images/avatar/client.png">
                </div>
                <div class="e-avatar__title">Вы</div>
            </div>
            <div class="b-chat-message__request">
                <div class="e-chat-message__text" ng-bind-html="message"></div>
                <div class="e-chat-message__time">ng{time}ng</div>
            </div>
        </div>
    </script>

    <script type="text/ng-template"  id="b-message__request-without-avatar.html">
        <div class="b-message__request" {#ng-show="$root.operatorResponded"#}>
            <div class="b-chat-message__request-without-avatar">
                <div class="e-chat-message__text" ng-bind-html="message"></div>
                <div class="e-chat-message__time">ng{time}ng</div>
            </div>
        </div>
    </script>

    <script type="text/ng-template"  id="b-message__response.html">
        <div class="b-message__response">
            <div class="b-avatar__response">
                <div class="e-avatar__image">
                    <img src="ng{avatar}ng">
                </div>
                <div class="e-avatar__title">ng{username}ng</div>
            </div>
            <div class="b-chat-message__response">
                <div class="e-chat-message__text" ng-bind-html="message"></div>
                <div class="e-chat-message__time">ng{time}ng</div>
            </div>
        </div>
    </script>

    <script type="text/ng-template"  id="b-message__response-without-avatar.html">
        <div class="b-message__response">
            <div class="b-chat-message__response-without-avatar">
                <div class="e-chat-message__text" ng-bind-html="message"></div>
                <div class="e-chat-message__time">ng{time}ng</div>
            </div>
        </div>
    </script>

    <script type="text/ng-template"  id="b-message__order.html">
        <div class="b-message__order">
            <div class="b-avatar__response">
                <div class="e-avatar__image">
                    <img src="ng{avatar}ng">
                </div>
                <div class="e-avatar__title">ng{username}ng</div>
            </div>
            <div class="b-chat-message__response">
                <div class="e-chat-message__order-text">
                    Сумма вашего заказа составит ng{sum}ng рублей.
                    Вот ссылка для оплаты заказа.
                </div>
                <div class="e-chat-message__time">ng{time}ng</div>
                <div class="e-chat-message__separator"></div>
                <div class="b-order">
                    <div class="b-order-text">
                        <div class="e-order-text__title">Оплата заказа</div>
                        <div class="e-order-text__sum">ng{sum}ng рублей</div>
                    </div>
                    <a class="e-link__order" target="_blank" href="{{ path('payment_generate') }}?discussionId=ng{discussionId}ng&amount=ng{sum}ng"><input type="button" class="e-order__button" value="Оплатить"></a>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="b-payed.html">
        <div class="b-payed">
            <span class="e-payed__icon"><i class="fa fa-credit-card"></i></span>
            <span class="e-payed__text">Заказ оплачен</span>
        </div>
    </script>

    <script type="text/ng-template" id="b-contact-form.html">
        <div ng-init="contactForm=true" ng-show="contactForm">
            <div class="l-top-content-inner__chat-waiting-message"></div>
            <div class="l-top-content-inner__operator-form">
                <div class="b-operator-form">
                    <div class="e-operator-form__title">Пожалуйста, заполните ваши контактные данные для оформления заказа</div>
                    <div>
                        <input type="text" ng-model="client.fullName" placeholder="Как вас зовут?" class="e-operator-form__input-name">
                        <input type="text" ng-model="client.phone" name="phone" placeholder="Телефон" class="e-operator-form__input-phone" ng-not-empty="" ng-russian-phone-format="" mask="+7 (999) 999-99-99" ng-model="phone" ng-required="">
                        <input type="email" ng-model="client.email" name="email" placeholder="Эл. почта" class="e-operator-form__input-email" ng-model="email" ng-not-empty="" ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" ng-required="">
                    </div>
                    <input type="submit" ng-success-text="{{ snippet('success_contact_form_text') }}" ng-success-title="{{ snippet('success_contact_form_title') }}" class="e-operator-form__submit" ng-click="sendClientDetails($event, true)" value="Отправить">
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="b-popup-menu.html">
        <div ng-show="$root.popupMenu" class="b-popup-menu js-popup-menu" style="margin-top: -ng{$root.popupMenuWidth}ngpx">
            <a ng-repeat="item in menu" class="e-item__popup-menu" target="_blank" href="ng{item.link}ng">ng{item.title}ng</a>
        </div>
    </script>
{% endblock %}
