{#{% block admin-navbar__header %}#}
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('admin_index') }}">
            <div class="e-header-title">Бюро</div>
        </a>
    </div>
{#{% endblock %}#}