<ul class="nav navbar-nav pull-right hidden-xs">
    <li class="settings hidden-xs hidden-sm">
        <a href="{{ path('homepage') }}" role="button">
            <i class="icon-share-alt"></i>
        </a>
    </li>
</ul>