<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>Пользователи</span>
                </a>
                <ul class="submenu" style="display: block;">
                    <li><a href="{{ path('admin_users') }}">Список пользователей</a></li>
                    <li><a href="{{ path('admin_create_user') }}">Новый пользователь</a></li>
                </ul>
            </li>
        {% endif %}
        <li class="active">
            <a class="dropdown-toggle" href="#">
                <i class="icon-edit"></i>
                <span>Чаты</span>
            </a>
            <ul class="submenu" style="display: block;">
                {% set newChats = newChats() %}
                <li><a href="{{ path('admin_chats', {'type': 'my'}) }}">Мои</a></li>
                <li><a href="{{ path('admin_chats', {'type': 'new'}) }}">Новые {% if newChats > 0 %}<span>[{{ newChats() }}]</span>{% endif %} </a></li>
                <li><a href="{{ path('admin_chats', {'type': 'missed'}) }}">Пропущенные</a></li>
                <li><a href="{{ path('admin_chats', {'type': 'archive'}) }}">Обработанные</a></li>
            </ul>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-cog"></i>
                    <span>CMS</span>
                </a>
                <ul class="submenu" style="display: block;">
                    <li><a href="{{ path('admin_edit_address', {'type': 'my'}) }}">Адрес</a></li>
                    <li><a href="{{ path('admin_employees') }}">Сотрудники</a></li>
                    <li><a href="{{ path('admin_vacancies') }}">Вакансии</a></li>
                    <li><a href="{{ path('admin_orders') }}">Заказы</a></li>
                    <li><a href="{{ path('admin_services') }}">Сервисы</a></li>
                    <li><a href="{{ path('admin_menu_items') }}">Меню</a></li>
                    <li><a href="{{ path('admin_snippets') }}">Сниппеты</a></li>
                    <li><a href="{{ path('admin_social_buttons') }}">Социальные кнопки</a></li>
                    <li><a href="{{ path('admin_vacancy_responses') }}">Отклики на вакансии</a></li>
                    <li><a href="{{ path('admin_business_responses') }}">Отклики от компаний</a></li>
                    <li><a href="{{ path('admin_metatags') }}">Метатеги</a></li>
                    <li><a href="{{ path('admin_mobile_application_requests') }}">Запросы моб. приложений</a></li>
                    <li><a href="{{ path('admin_html_blocks') }}">Html блоки</a></li>
                    <li><a href="{{ path('admin_payment_system') }}">Платежная система</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
</div>
<!-- end sidebar -->