<!DOCTYPE html>
<html ng-app="bureauAdmin">
    {% include 'admin/head.html.twig' %}
    <body ng-send-activity>
        <div ng-controller="MainController">
            {% block header %}
                <!-- navbar -->
                <header class="navbar navbar-inverse" role="banner">
                    {% include 'admin/include/admin-navbar__header-left.twig' %}
                    {% include 'admin/include/admin-navbar__header-right.twig' %}
                </header>
                <!-- end navbar -->
            {% endblock %}

            {% block sidebar %}
                {% include 'admin/include/admin-sidebar.twig' %}
            {% endblock %}

            <!-- main container -->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    <!-- scripts -->

    <script>
        var CKEDITOR_BASEPATH = '/assets/vendor/ckeditor/';
    </script>
    {% javascripts filter='uglifyjs2'
        'bundles/app/js/admin/jquery-latest.js'
        'bundles/app/js/admin/jquery-ui-1.10.2.custom.min.js'
        'bundles/app/js/admin/bootstrap.min.js'
        'bundles/app/js/admin/bootstrap.datepicker.js'
        'assets/vendor/angular/angular.min.js'
        'assets/vendor/angular-ui-notification/dist/angular-ui-notification.min.js'
        'bundles/app/js/admin/jquery.knob.js'
        'bundles/app/js/admin/jquery.flot.js'
        'bundles/app/js/admin/jquery.flot.resize.js'
        'bundles/app/js/admin/theme.js'
        'assets/vendor/wampush/include/autobahn-wamp1.min.js'
        'assets/vendor/ckeditor/ckeditor.js'
        'bundles/app/js/admin/bureau-admin.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function () {
            // jQuery Knobs
            $(".knob").knob();

            // jQuery UI Sliders
            $(".slider-sample1").slider({
                value: 100,
                min: 1,
                max: 500
            });
            $(".slider-sample2").slider({
                range: "min",
                value: 130,
                min: 1,
                max: 500
            });
            $(".slider-sample3").slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 40, 170 ],
            });

            {% include ':admin/include:admin-charts-js.html.twig' %}
        });
        $('.input-datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });
    </script>
    <audio ng-sound-start-chat class="s-chat__start-chat" preload="auto" autobuffer>
        <source src="/bundles/app/sounds/start_chat.mp3" /> <!-- fallback if no mp3 support in browser -->
    </audio>
    <audio ng-sound-message-chat class="s-chat__message" preload="auto" autobuffer>
        <source src="/bundles/app/sounds/message.mp3" /> <!-- fallback if no mp3 support in browser -->
    </audio>
    {% block javascripts %}{% endblock %}
    </body>
</html>
