{% block head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Бюро всего - админстраторская панель</title>

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/bundles/app/images/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bundles/app/images/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bundles/app/images/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bundles/app/images/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/bundles/app/images/favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/bundles/app/images/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/bundles/app/images/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/bundles/app/images/favicon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/bundles/app/images/favicon/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="/bundles/app/images/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="./bundles/app/images/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/bundles/app/images/favicon/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/bundles/app/images/favicon/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="./images/favicon/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="./images/favicon/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="./images/favicon/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="./images/favicon/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="./images/favicon/mstile-310x310.png" />

        <meta property="og:title" content="Bureau">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Bureau">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:image" content="./images/favicon/favicon-128.png">
        <meta property="og:description" content="Волшебный сервис доставки чего угодно вам в руки">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Roboto:500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

        {% stylesheets filter='cssrewrite' filter='uglifycss'
            'bundles/app/css/bootstrap/bootstrap.min.css'
            'bundles/app/css/bootstrap/bootstrap-overrides.css'
            'bundles/app/css/lib/jquery-ui-1.10.2.custom.css'
            'bundles/app/css/lib/font-awesome.css'
            'bundles/app/css/compiled/layout.css'
            'bundles/app/css/compiled/elements.css'
            'bundles/app/css/compiled/icons.css'
            'bundles/app/css/compiled/index.css'
            'bundles/app/css/admin_main.css'
            'bundles/app/css/compiled/tables.css'
            'bundles/app/css/compiled/ui-elements.css'
            'bundles/app/css/compiled/user-profile.css'
            'assets/vendor/angular-ui-notification/dist/angular-ui-notification.min.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

        <![endif]-->

    </head>
{% endblock %}