{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Отклики компаний</h4>
            </div>
        </div>

        <div class="row filter-block">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-2">
                    Название компании
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Сфера деятельности
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Сайт компании
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Ответственное лицо
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Телефон
                </th>
                <th class="col-md-1">
                    <span class="line"></span>
                    Эл. почта
                </th>
                <th class="col-md-1">
                    <span class="line"></span>
                    Комментарий
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            {% for business in pagination %}
                <tr {% if loop.first %}class="first"{% endif %}>
                    <td>
                        {{ business.companyName }}
                    </td>
                    <td>
                        {{ business.area }}
                    </td>
                    <td>
                        {{ business.companyUrl }}
                    </td>
                    <td>
                        {{ business.person }}
                    </td>
                    <td>
                        {{ business.phone }}
                    </td>
                    <td>
                        {{ business.email }}
                    </td>
                    <td>
                        {{ business.comments }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
