{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user user-profile">
    <div class="profile">
        {% if user.avatar %}
            {% set image = '/uploads/avatars/' ~ user.avatar %}
        {% else %}
            {% set image = '/bundles/app/img/contact-img.png' %}
        {% endif %}
        <div ng-init="messages={{ messages | json_encode() }}" class="panel panel-default" style="width: 855px;">
            <div class="panel-heading">Чат</div>
            <div class="panel-body">
                <div ng-repeat="message in messages">
                    <div class="ng{message.title == 'Оператор' ? 'b-chat__operator-message' : 'b-chat__client-message'}ng">
                        <div class="e-title__chat">ng{ message.title }ng</div>
                        <div class="e-time__chat">ng{ message.time }ng</div>
                        <div class="e-message__chat">ng{ message.text }ng</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; display: table; max-width: 855px;">
            <div style="min-width: 440px; width: 100%; display: table-cell;">
                <div class="b-input-block__send-message">
                    <div class="e-title__input-block">Отправить сообщение клиенту</div>
                    <textarea placeholder="Ваше сообщение" class="form-control" style="height: 50px; width: 400px;" ng-model="message"></textarea>
                    <div>
                        <input type="button" discussion-id="{{ discussionId }}" user-id="{{ userId }}" ng-avatar="{{ image }}" ng-username="{{ user.fullName }}" ng-chat-button class="e-button__input-block btn btn-primary" value="Отправить сообщение">
                    </div>
                    <br />    <br />
                </div>
                <div class="b-input-block__send-message">
                    <div class="e-title__input-block">Выставить счет клиенту</div>
                    <div style="width: 400px;" class="e-note__input-block">
                        Клиент должен оплатить товар перед его доставкой. После получения информации о
                        товаре и контактных данных выставите счет указав сумму в рублях и затем нажав по кнопке "Отправить счет".
                        Если контактые данные клиента заполнены, счет автоматически продублируется роботом ему на почту.
                    </div>
                    <div class="input-group"style="width: 400px;">
                        <input type="number" placeholder="500" ng-model="invoice" class="form-control">
                        <span class="input-group-addon">руб</span>
                    </div>
                    <input type="button" class="e-button__input-block btn btn-primary" ng-invoice-button value="Отправить счет">
                    <br />    <br />
                </div>
                <div class="b-input-block__send-message">
                    <div class="e-title__input-block">Запросить контактные данные клиента</div>
                    <div style="width: 400px;" class="e-note__input-block">Если блок "информация о клиенте" пустой, запросите у клиента его контакты, нажав на кнопку ниже. У клиента появится форма после отправки который обновится информация в блоке "информация о клиенте"</div>
                    <input type="button" class="btn btn-primary" ng-contact-form-button value="Попросить заполнить данные">
                    <br />    <br />
                </div>
            </div>
            <div style="min-width: 330px; display: table-cell;">
                <div>
                    <div class="b-input-block__send-message">
                        <div class="e-title__input-block">Информация о клиенте:</div>
                        <div class="e-note__input-block">
                            Если этой блок пустой, следует запросить у клиента его контактные данные чтобы иметь возможность доставить товар. Запрос данных происходит по кнопке "Попросить заполнить данные".
                        </div>
                        <p>Имя: <span ng-init="client.fullName='{{ client.fullName }}'" >ng{client.fullName}ng</span></p>
                        <p>Эл. Почта: <span ng-init="client.email='{{ client.email }}'">ng{client.email}ng</span></p>
                        <p>Номер: <span ng-init="client.phone = '{{ client.phone }}'"> ng{client.phone}ng</span></p>
                    </div>
                </div>
                <div style="margin-top: 40px;">
                    <div class="b-input-block__send-message">
                        <div class="e-title__input-block">Статус оплаты заказа:</div>
                        <div class="e-note__input-block">
                            О состоянии оплаты заказа судить только по этому полю
                        </div>
                        <p>Статус: <span ng-init="client.paymentStatus = '{{ paymentCompleted }}' ? 'Оплачен' : 'Не оплачен'" >ng{client.paymentStatus}ng</span></p>
                    </div>
                </div>
            </div>
            <div class=""></div>
        </div>
    </div>

</div>
{% endblock %}
