{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Чаты</h4>
            </div>
        </div>

        <div class="row filter-block">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-3">
                    Оператор
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Статус
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Первый запрос
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            {% for chat in pagination %}
                <tr {% if loop.first %}class="first"{% endif %}>
                    <td>
                        {{ chat.operator }}
                    </td>
                    <td>
                        <span class="label {% if chat.isActiveClient %}label-success{% else %}label-default{% endif %}">
                            {% if chat.isActiveClient %}Активный{% else %}Неактивный{% endif %}
                        </span>
                    </td>
                    <td class="description">
                        {{ chat.timestamp|date('Y-m-d h:i') }}
                        <ul class="actions">
                            <li><a href="{{ path('admin_chat', {id: chat.id }) }}">{% if type == 'new' %}Начать диалог{% else %}Открыть диалог{% endif %}</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
