{% extends 'admin/base.html.twig' %}

{% block content %}
    <style type="text/css">
        input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
            border: #FA787E solid 1px;
        }
        input.ng-valid.ng-touched, select.ng-valid.ng-touched {
            border: #78FA89 solid 1px;
        }
    </style>
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Создать нового пользователя</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="userform" novalidate class="form-horizontal" action="{{ path('admin_create_user') }}" role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Логин</label>
                        <div class="col-md-8">
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'ng-model' : 'user.username', 'placeholder': 'Логин'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Полное имя</label>
                        <div class="col-md-8">
                            {{ form_widget(form.fullName, { 'attr': {'class': 'form-control', 'ng-model' : 'user.fullname', 'placeholder': 'Полное имя'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-md-2 control-label">Эл. почта</label>
                        <div class="col-md-8">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'ng-model' : 'user.email', 'placeholder': 'Эл. почта'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone1" class="col-md-2 control-label">Роль</label>
                        <div class="col-md-8">
                            {{ form_widget(form.roles, { 'attr': {'class': 'form-control', 'ng-model' : 'user.role'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputWebsite1" class="col-md-2 control-label">Пароль</label>
                        <div class="col-md-8">
                            {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'ng-model' : 'user.password', 'placeholder': 'Пароль'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputWebsite1" class="col-md-2 control-label">Аватарка 55х55</label>
                        <div class="col-md-8">
                            {{ form_widget(form.file, { 'attr': {'class': 'form-control', 'ng-model' : 'user.file'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="userform.$invalid" class="btn btn-default">Зарегистрировать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
