{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Html блок</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="addressform" class="form-horizontal" action="{{ path('admin_edit_html_block', {id: id}) }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">На всех страницах</label>
                        <div class="col-md-1">
                            <label class="checkbox-inline">
                                {% set onEachPage = form.onEachPage.vars.checked > 0 ? "true" : "false" %}
                                {{ form_widget(form.onEachPage, { 'attr': {'class': 'checker', 'ng-model' : 'htmlblock.onEachPage', 'ng-init' :  'htmlblock.onEachPage=' ~ onEachPage } }) }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-init="" ng-hide="htmlblock.onEachPage">
                        <label for="inputName1" class="col-md-2 control-label">Относительный путь</label>
                        <div class="col-md-8">
                            {{ form_widget(form.path, { 'attr': {'class': 'form-control', 'ng-model' : 'htmlblock.path', 'placeholder': '/career', 'ng-init' :  'htmlblock.path=' ~ '"' ~ form.path.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Размещение</label>
                        <div class="col-md-8">
                            {{ form_widget(form.place, { 'attr': {'class': 'form-control', 'ng-model' : 'htmlblock.place', 'ng-init' :  'htmlblock.place=' ~ '"' ~ form.place.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Содержимое</label>
                        <div id="js-editor-container" class="col-md-8 js-editor-container">
                            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'ng-model' : 'htmlblock.content', 'placeholder': 'Содержимое', 'ng-init' :  'htmlblock.content=' ~ '"' ~ form.content.vars.value|e('html') ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="addressform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        setTimeout(function() {
            $('#html_block_content').val($('#html_block_content').text());
        }, 2000)
    </script>
{% endblock %}
