{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Адрес</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="addressform" class="form-horizontal" action="{{ path('admin_edit_address') }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Город</label>
                        <div class="col-md-8">
                            {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'ng-model' : 'company.city', 'placeholder': 'Город', 'ng-init' :  'company.city=' ~ '"' ~ form.city.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Адрес</label>

                        <div class="col-md-8">
                            {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'ng-model' : 'company.address', 'placeholder': 'Адрес', 'ng-init' :  'company.address=' ~ '"' ~ form.address.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-md-2 control-label">Почтовый индекс</label>
                        <div class="col-md-8">
                            {{ form_widget(form.zip, { 'attr': {'class': 'form-control', 'ng-model' : 'company.zip', 'ng-pattern': '/^\\d+$/', 'placeholder': 'Почтовый индекс', 'ng-init' :  'company.zip=' ~ '"' ~ form.zip.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="addressform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
