{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Вакансия</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="addressform" class="form-horizontal" action="{{ path('admin_edit_vacancy', {id: id }) }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Должность</label>
                        <div class="col-md-8">
                            {{ form_widget(form.position, { 'attr': {'class': 'form-control', 'ng-model' : 'employee.fullName', 'placeholder': 'Должность', 'ng-init' :  'employee.fullName=' ~ '"' ~ form.position.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Описание</label>
                        <div class="col-md-8">
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'ng-model' : 'employee.position', 'placeholder': 'Описание', 'ng-init' :  'employee.position=' ~ '"' ~ form.description.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="addressform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
