{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Метатег</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="metatagform" class="form-horizontal" action="{{ path('admin_edit_metatag', {id: id}) }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">name</label>
                        <div class="col-md-8">
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'ng-model' : 'metatag.name', 'placeholder': 'name', 'ng-init' :  'metatag.name=' ~ '"' ~ form.name.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">property</label>
                        <div class="col-md-8">
                            {{ form_widget(form.property, { 'attr': {'class': 'form-control', 'ng-model' : 'metatag.property', 'placeholder': 'property', 'ng-init' :  'metatag.property=' ~ '"' ~ form.property.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">content</label>
                        <div class="col-md-8">
                            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'ng-model' : 'metatag.content', 'placeholder': 'content', 'ng-init' :  'metatag.content=' ~ '"' ~ form.content.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">path</label>
                        <div class="col-md-8">
                            {{ form_widget(form.path, { 'attr': {'class': 'form-control', 'ng-model' : 'metatag.path', 'placeholder': '/contacts', 'ng-init' :  'metatag.path=' ~ '"' ~ form.path.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="metatagform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
