{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Сотрудник</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="addressform" class="form-horizontal" action="{{ path('admin_edit_employee', {id: id }) }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Полное имя</label>
                        <div class="col-md-8">
                            {{ form_widget(form.fullName, { 'attr': {'class': 'form-control', 'ng-model' : 'employee.fullName', 'placeholder': 'Полное имя', 'ng-init' :  'employee.fullName=' ~ '"' ~ form.fullName.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Должность</label>
                        <div class="col-md-8">
                            {{ form_widget(form.position, { 'attr': {'class': 'form-control', 'ng-model' : 'employee.position', 'placeholder': 'Должность', 'ng-init' :  'employee.position=' ~ '"' ~ form.position.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Телефон</label>

                        <div class="col-md-8">
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'ng-model' : 'employee.phone', 'placeholder': 'Телефон', 'ng-init' :  'employee.phone=' ~ '"' ~ form.phone.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-md-2 control-label">Эл. почта</label>

                        <div class="col-md-8">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'ng-model' : 'employee.email', 'placeholder': 'Эл. почта', 'ng-init' :  'employee.email=' ~ '"' ~ form.email.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="addressform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
