{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Элемент меню</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="addressform" class="form-horizontal" action="{{ path('admin_edit_menu_item', {id: id}) }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Название</label>
                        <div class="col-md-8">
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.title', 'placeholder': 'Название', 'ng-init' :  'menu.title=' ~ '"' ~ form.title.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Тип</label>
                        <div class="col-md-8">
                            {{ form_widget(form.menuType, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.menuType', 'placeholder': 'Название', 'ng-init' :  'menu.menuType=' ~ '"' ~ form.menuType.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Ссылка</label>
                        <div class="col-md-8">
                            {{ form_widget(form.link, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.link', 'placeholder': 'http://example.com', 'ng-init' :  'menu.link=' ~ '"' ~ form.link.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Порядок сортировки</label>
                        <div class="col-md-8">
                            {{ form_widget(form.sortOrder, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.order', 'ng-pattern': '/^\\d+$/', 'placeholder': 'Порядок', 'ng-init' :  'menu.order=' ~ '"' ~ form.sortOrder.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="addressform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
