{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Сервис</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="addressform" class="form-horizontal" action="{{ path('admin_edit_service', {id: id}) }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Название</label>
                        <div class="col-md-8">
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'ng-model' : 'company.city', 'placeholder': 'Название', 'ng-init' :  'company.city=' ~ '"' ~ form.title.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Сообщение чата</label>

                        <div class="col-md-8">
                            {{ form_widget(form.chatPlaceholder, { 'attr': {'class': 'form-control', 'ng-model' : 'company.address', 'placeholder': 'Сообщение чата', 'ng-init' :  'company.address=' ~ '"' ~ form.chatPlaceholder.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-md-2 control-label">Картинка</label>
                        <div class="col-md-8">
                            {{ form_widget(form.imageFile, { 'attr': {'class': 'form-control', 'ng-model' : 'company.zi2p'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="addressform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
