{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Html блоки</h4>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{{ path('admin_edit_html_block') }}" class="btn-flat success pull-right">
                    <span>+</span>
                    Добавить блок
                </a>
            </div>
        </div>

        <div class="row filter-block">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-3">
                    Относительный путь (страница)
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Показывать на каждой странице
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Размещение
                </th>
                <th class="col-md-3">
                    Содержимое
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            {% for block in pagination %}
                <tr {% if loop.first %}class="first"{% endif %}>
                    <td>
                        {{ block.path }}
                    </td>
                    <td>
                        {% if block.onEachPage > 0  %}Да{% endif %}
                    </td>
                    <td>
                        {{ block.place }}
                    </td>
                    <td>
                        {{ block.content }}
                    </td>
                    <td class="description">
                        <ul class="actions">
                            <li><a href="{{ path('admin_edit_html_block', {id: block.id }) }}">Редактировать</a></li>
                            <li><a href="{{ path('admin_remove_html_block', {id: block.id }) }}">Удалить</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
