{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Меню</h4>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{{ path('admin_edit_menu_item') }}" class="btn-flat success pull-right">
                    <span>+</span>
                    Добавить элемент
                </a>
            </div>
        </div>

        <div class="row filter-block">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-3">
                    Название
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Ссылка
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Порядок
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Тип
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Управление
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            {% for menuItem in menuItems %}
                <tr {% if loop.first %}class="first"{% endif %}>
                    <td>
                        {{ menuItem.title }}
                    </td>
                    <td>
                        {{ menuItem.link }}
                    </td>
                    <td>
                        {{ menuItem.sortOrder }}
                    </td>
                    <td>
                        {{ menuItem.menuType }}
                    </td>
                    <td class="description">
                        <ul class="actions">
                            <li><a href="{{ path('admin_edit_menu_item', {id: menuItem.id }) }}">Редактировать</a></li>
                            <li><a href="{{ path('admin_remove_menu_item', {id: menuItem.id }) }}">Удалить</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
