{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Метатеги</h4>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{{ path('admin_edit_metatag') }}" class="btn-flat success pull-right">
                    <span>+</span>
                    Добавить мететег
                </a>
            </div>
        </div>

        <div class="row filter-block">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-2">
                    <span class="line"></span>
                    Name
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Property
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Content
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Относительный путь до страницы
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Управление
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            {% for tag in pagination %}
                <tr {% if loop.first %}class="first"{% endif %}>
                    <td>
                        {{ tag.name }}
                    </td>
                    <td>
                        {{ tag.property }}
                    </td>
                    <td>
                        {{ tag.content }}
                    </td>
                    <td>
                        {{ tag.path }}
                    </td>
                    <td>
                        <a href="{{ path('admin_remove_metatag', {id: tag.id}) }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
