{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="table-wrapper products-table">
            <div class="row head">
                <div class="col-md-12">
                    <h4>Запросы мобильных приложений</h4>
                </div>
            </div>

            <div class="row filter-block">
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-3">
                        Эл. почта
                    </th>
                    <th class="col-md-3">
                        <span class="line"></span>
                        Платформа
                    </th>
                    <th class="col-md-3">
                        <span class="line"></span>
                        Управление
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- row -->
                {% for request in pagination %}
                    <tr {% if loop.first %}class="first"{% endif %}>
                        <td>
                            {{ request.email }}
                        </td>
                        <td>
                            {{ request.type }}
                        </td>
                        <td>
                            <a href="{{ path('admin_remove_mobile_application_request', {id: request.id}) }}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
