{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Платежная система</h3>
            </div>
        </div>

        {{ form_errors(form) }}
        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="payment_form" class="form-horizontal" action="{{ path('admin_payment_system') }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Merchant ID</label>
                        <div class="col-md-8">
                            {{ form_widget(form.merchantId, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.merchantId', 'placeholder': '', 'ng-init' :  'menu.merchantId=' ~ '"' ~ form.merchantId.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Секретный ключ </label>
                        <div class="col-md-8">
                            {{ form_widget(form.secretKey, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.secretKey', 'placeholder': '', 'ng-init' :  'menu.secretKey=' ~ '"' ~ form.secretKey.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Скрытый ключ</label>
                        <div class="col-md-8">
                            {{ form_widget(form.hiddenKey, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.hiddenKey', 'placeholder': '', 'ng-init' :  'menu.hiddenKey=' ~ '"' ~ form.hiddenKey.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Ключ API</label>
                        <div class="col-md-8">
                            {{ form_widget(form.apiKey, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.apiKey', 'placeholder': '', 'ng-init' :  'menu.apiKey=' ~ '"' ~ form.apiKey.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Адрес сайта</label>
                        <div class="col-md-8">
                            {{ form_widget(form.siteUrl, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.siteUrl', 'placeholder': 'http://example.com', 'ng-init' :  'menu.siteUrl=' ~ '"' ~ form.siteUrl.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Тестовый режим</label>
                        <div class="col-md-8">
                            {% set testMode = form.testMode.vars.checked > 0 ? "true" : "false" %}
                            {{ form_widget(form.testMode, { 'attr': {'class': 'checker', 'ng-model' : 'menu.testMode', 'ng-init' :  'menu.testMode=' ~ testMode } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="addressform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
