{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Сервисы</h4>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{{ path('admin_edit_service') }}" class="btn-flat success pull-right">
                    <span>+</span>
                    Добавить сервис
                </a>
            </div>
        </div>

        <div class="row filter-block">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-3">
                    Название
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Картинка
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Сообщение в чате
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Управление
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            {% for service in services %}
                <tr {% if loop.first %}class="first"{% endif %}>
                    <td>
                        {{ service.title }}
                    </td>
                    <td>
                        <img src="{{ vich_uploader_asset(service, 'imageFile') }}" style="height: 50px;">
                    </td>
                    <td>
                        {{ service.chatPlaceholder }}
                    </td>
                    <td class="description">
                        <ul class="actions">
                            <li><a href="{{ path('admin_edit_service', {id: service.id }) }}">Редактировать</a></li>
                            <li><a href="{{ path('admin_remove_service', {id: service.id }) }}">Удалить</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
