{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>Социальные кнопки</h3>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="row form-wrapper">
            <div class="col-md-9 with-sidebar">
                <form novalidate name="addressform" class="form-horizontal" action="{{ path('admin_social_buttons') }}"
                      role="form" method="post" enctype="multipart/form-data">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Вконтакте</label>
                        <div class="col-md-8">
                            {{ form_widget(form.vkontakte, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.vkontakte', 'placeholder': 'http://example.com', 'ng-init' :  'menu.vkontakte=' ~ '"' ~ form.vkontakte.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Facebook</label>
                        <div class="col-md-8">
                            {{ form_widget(form.facebook, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.facebook', 'placeholder': 'http://example.com', 'ng-init' :  'menu.facebook=' ~ '"' ~ form.facebook.vars.value ~'"' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-md-2 control-label">Instagram</label>
                        <div class="col-md-8">
                            {{ form_widget(form.instagram, { 'attr': {'class': 'form-control', 'ng-model' : 'menu.instagram', 'placeholder': 'http://example.com', 'ng-init' :  'menu.instagram=' ~ '"' ~ form.instagram.vars.value ~'"'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" ng-disabled="addressform.$invalid" class="btn btn-default">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
