{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="pad-wrapper" class="users-list">
        <div class="row header">
            <h3>Пользователи</h3>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{{ path('admin_create_user') }}" class="btn-flat success pull-right">
                    <span>+</span>
                    Добавить пользователя
                </a>
            </div>
        </div>

        <!-- Users table -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-4 sortable">
                            Имя
                        </th>
                        <th class="col-md-3 sortable">
                            <span class="line"></span>Статус
                        </th>
                        <th class="col-md-3 sortable">
                            <span class="line"></span>Роль
                        </th>
                        <th class="col-md-3 sortable align-right">
                            <span class="line"></span>Эл. почта
                        </th>
                        <th class="col-md-3 sortable align-right">
                            <span class="line"></span>Управление
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    {% for user in pagination %}
                        <tr class="first">
                            <td>
                                {% if user.avatar %}
                                    {% set image = '/uploads/avatars/' ~ user.avatar %}
                                {% else %}
                                    {% set image = '/bundles/app/img/contact-img.png' %}
                                {% endif %}
                                <img src="{{ image }}" alt="contact" class="img-circle avatar hidden-phone">
                                {{ user.userName }}
                            </td>
                            <td>
                                {% if user.lastActivity %}
                                    {% set isActive = "now"|date('Y-m-d H:i') < user.lastActivity|date_modify("+10 minutes")|date('Y-m-d H:i') %}
                                {% else %}
                                    {% set isActive = false %}
                                {% endif %}
                                <span class="label {% if isActive %}label-success{% else %}label-default{% endif %}">
                                    {% if isActive %}Активный{% else %}Неактивный{% endif %}
                                </span>
                            </td>
                            <td>
                                <span class="subtext">
                                    {% set haveRole = false %}
                                    {% for role in user.getRoles() %}
                                        {% if role == 'ROLE_ADMIN' %}
                                            Администратор
                                            {% set haveRole = true %}
                                        {% endif %}
                                        {% if role == 'ROLE_OPERATOR' %}
                                            Оператор
                                            {% set haveRole = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not haveRole %}
                                        Пользователь
                                    {% endif %}
                                </span>
                            </td>
                            <td class="align-right">
                                {{ user.email }}
                            </td>
                            <td class="align-right">
                                <a href="{{ path('admin_edit_user', {id : user.id}) }}">Редактировать</a>
                                <a href="{{ path('admin_remove_user', {id : user.id}) }}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <!-- row -->

                    </tbody>
                </table>
            </div>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <!-- end users table -->
    </div>
{% endblock %}
