{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Отклики на вакансии</h4>
            </div>
        </div>

        <div class="row filter-block">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-2">
                    Должность
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Полное имя
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Телефон
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Email
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Резюме
                </th>
                <th class="col-md-2">
                    <span class="line"></span>
                    Комментарии
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            {% for vacancy in pagination %}
                <tr {% if loop.first %}class="first"{% endif %}>
                    <td>
                        {{ vacancy.vacancy.position }}
                    </td>
                    <td>
                        {{ vacancy.fullName }}
                    </td>
                    <td>
                        {{ vacancy.phone }}
                    </td>
                    <td>
                        {{ vacancy.email }}
                    </td>
                    <td>
                        {% if vacancy.cv is defined and vacancy.cv  %}
                            <a href="/uploads/cvs/{{ vacancy.cv }}">Резюме</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ vacancy.comments }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
