{% extends 'admin/base.html.twig' %}

{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="table-wrapper products-table">
        <div class="row head">
            <div class="col-md-12">
                <h4>Вакансии</h4>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{{ path('admin_edit_vacancy') }}" class="btn-flat success pull-right">
                    <span>+</span>
                    Добавить вакансию
                </a>
            </div>
        </div>

        <div class="row filter-block">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-3">
                    <span class="line"></span>
                    Должность
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Описание
                </th>
                <th class="col-md-3">
                    <span class="line"></span>
                    Управление
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            {% for vacancy in vacancies %}
                <tr {% if loop.first %}class="first"{% endif %}>
                    <td>
                        {{ vacancy.position }}
                    </td>
                    <td>
                        {{ vacancy.description }}
                    </td>
                    <td class="description">
                        <ul class="actions">
                            <li><a href="{{ path('admin_edit_vacancy', {id: vacancy.id }) }}">Редактировать</a></li>
                            <li><a href="{{ path('admin_remove_vacancy', {id: vacancy.id }) }}">Удалить</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
