{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div style="text-align: center; padding-top: 40px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="login-wrapper">
        {#<a href="{{ path('homepage') }}">#}
            {#<div class="e-header-title">Бюро</div>#}
        {#</a>#}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="box">
                <div class="content-wrap">
                    <h6>{{ 'security.login.submit'|trans }}</h6>
                    <input class="form-control"  id="username" name="_username" type="text" placeholder="{{ 'security.login.username'|trans }}">
                    <input class="form-control" id="password" name="_password" type="password" placeholder="{{ 'security.login.password'|trans }}">
                    <div class="remember">
                        <input id="remember_me" name="_remember_me" value="on" type="checkbox">
                        <label for="remember-me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <input type="submit" id="_submit" name="_submit" class="btn-glow primary login" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </div>
        </form>
    </div>

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bundles/app/js/admin/bootstrap.min.js"></script>
    <script src="/bundles/app/js/admin/theme.js"></script>

    <!-- pre load bg imgs -->
    <script type="text/javascript">
        $(function () {
            // bg switcher
            var $btns = $(".bg-switch .bg");
            $btns.click(function (e) {
                e.preventDefault();
                $btns.removeClass("active");
                $(this).addClass("active");
                var bg = $(this).data("img");

                $("html").css("background-image", "url('img/bgs/" + bg + "')");
            });

        });
    </script>
{% endblock fos_user_content %}
