<html>
<body>
<form id="form" action="https://merchant.pay2pay.com/?page=init" method="POST">  <input type="hidden" name="xml" value="{{ result['xml'] }}"/>  <input type="hidden" name="sign" value="{{ result['sign'] }}"/> </form>
<script>
    document.getElementById("form").submit();
</script>
</body>
</html>
