@import url(http://fonts.googleapis.com/css?family=Roboto:500);

.b-field-errors { list-style: none; color: red; font-weight: bold;}
.b-chat__operator-message {background-color: #b7cc90; display: inline-block; padding: 5px; margin-bottom: 20px; width: 500px; border-radius: 4px;}
.b-chat__client-message {background-color: #90b2cc; display: inline-block; padding: 5px; margin-bottom: 20px; width: 500px; border-radius: 4px; float: right; }

.e-header-title__admin { font-size: 28px; font-family: 'Roboto'; font-weight: 500; color: #ec6969; float: left; text-transform: uppercase; display: block; text-decoration: none; }
.e-title__chat {color:#5a5a66; float: left; font-weight: bold;}
.e-time__chat {color:#5a5a66; float: right; font-weight: bold;}
.e-message__chat {clear: both; color: #000000; font-weight: 600; word-wrap: break-word;}
.e-button__input-block {margin-top: 10px;}
.e-title__input-block {color: rgb(51, 51, 51); font-weight: 600;  font-size: 13px; font-family: "Open Sans", sans-serif; margin-bottom: 10px}
.e-note__input-block {font-size: 12px; font-family: "Open Sans", sans-serif; margin-bottom: 10px; color: #777e86;}