@font-face { font-family: 'PT Rouble Sans'; font-style: normal; font-weight: normal; src: url('/bundles/app/fonts/PTRoubleSans.eot?#iefix') format('embedded-opentype'), url('/bundles/app/fonts/PTRoubleSans.otf') format('opentype'), url('/bundles/app/fonts/PTRoubleSans.woff') format('woff'), url('/bundles/app/fonts/PTRoubleSans.ttf') format('truetype'), url('/bundles/app/fonts/PTRoubleSans.svg#PTRoubleSans') format('svg'); }

body {font-size: 100%;}

.l-page { font-family: 'Open Sans', sans-serif; overflow: hidden;}
.l-header { height: 75px; margin: 0 auto; max-width: 896px; min-width: 0; position: relative; padding: 0 2%;}
.l-header__fixed {  padding: 0 2%; overflow: hidden; height: 75px; margin: 0 auto; max-width: 896px; min-width: 0; top: 0; left: 0; right: 0;  bottom: 0;  z-index: 9999; background-color: white; box-shadow: -6px -899px 0px 900px rgb(255,255,255);}
.l-top-content-outer { background: url("/bundles/app/images/l-page-search-form.png"); overflow: hidden; width: 100vw;  position: relative; z-index: 99;}
.l-top-content-outer__fixed { background: url("/bundles/app/images/l-page-search-form.png"); overflow: hidden; width: 100vw; height: 100vh;  position: relative; z-index: 99; }
.l-top-content-inner { margin: 0 auto; max-width: 896px; width: 96vw;}
.l-top-content-inner__fixed { margin: 0 auto; max-width: 896px; position: relative; min-width: 0; right: 0; left: 0; z-index: 100; overflow: hidden; padding: 0 2%;}
.l-top-content-inner__chat {margin-bottom: 50px; margin-top: -50px; width: 100%; max-width: 894px; height: calc(100vh - 191px) !important; max-height: 490px; }
.l-top-content-inner__chat-waiting-message { margin: 35px auto 45px auto; width: 270px; }
.l-top-content-inner__operator-form { margin: 0 auto 90px; width: 100vw; max-width: 635px; }
.l-content { margin: 0 auto; max-width: 896px; min-width: 0; }
.l-orders { margin: 0 auto 74px auto; width: 1125px; }
.l-grid { margin: 0 auto; overflow: hidden; min-width: 100%; width: 100vw;  max-width: 896px; }
.l-grid-column { float: left; width: 50%; }
.l-map { height: 300px; margin: 70px auto 0 auto; width: 1100px; }
.l-categories { margin: 0 auto 50px auto; max-width: 1100px; min-width: 0; }
.l-footer-outer { background-color: #ec6969; min-height: 192px; width: 100%; }
.l-footer-inner { height: 100%; margin: 0 auto; max-width: 896px; }
.l-footer-menu { height: 75px; margin: 0 auto; max-width: 896px; min-width: 0; overflow: hidden;}
.l-popup__applications {width: 600px; margin: 0 auto;}
.l-copyright { float: right; margin-left: 75px; margin-top: -5px;}

.b-chat { background-color: #edebdc; border-radius: 2px; padding: 3.3% 2.3% 2.3% 3.3%; }
.b-header-menu { float: right; font-size: 15px; line-height: 75px; list-style: none; margin: 0; }
.b-top-content {padding: 50px 0;}
.b-top-content__with-triangle { height: 66px; padding: 50px 0; white-space: nowrap;}
.b-top-content__with-triangle:before { border-right: 17px solid transparent; border-top: 13px solid #FFFFFF; content: ' '; display: block; height: 0; margin-left: 31px; margin-top: 66px; position: absolute; width: 0; }
.b-categories-text { margin-top: 50px; text-align: center; }
.b-categories-items { margin-top: 4.6%; overflow: hidden;   text-align: center;}
.b-item__categories { margin-left: 6.76%; margin-right: 6.76%; min-height: 191px; cursor: pointer; display: inline-block; vertical-align: top;}
.b-item-icon__categories { height: 118px; width: 123px; }
.b-orders-items {overflow: hidden; text-align: center; white-space: nowrap;}
.b-orders-items__one-line  {overflow: hidden; text-align: center; white-space: nowrap; }
.b-orders-items__two-lines {overflow: hidden; text-align: center;}
.b-orders-items-item { margin-right: 100px; margin-left: 15px; width: 150px; display: inline-block; text-align: left; vertical-align: top; cursor: pointer;}
.b-footer-applications-items { margin: -15px auto 0 auto; overflow: hidden; width: 710px; }
.b-footer-applications-items-item { float: left; margin-left: 7%; margin-right: 7%; }
.b-footer-applications-items-item-logo {}
.e-footer-applications-items-item-text { color: #FFFFFF; display: inline-block; font-size: 18px; left: 51px; position: relative; top: -30px; white-space: nowrap; }
.b-footer-menu-agreements {position: relative; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); float: left; font-size: 13px; list-style: none; margin-left: 30px; opacity: 0.4; overflow: hidden;  vertical-align: middle; }
.b-footer-menu-agreements-item { float: left; margin-left: 20px; }
.b-footer-menu-social-services { float: left; list-style: none; position: relative; top: -11px;  }
.b-footer-menu-social-services-item { display: block; float: left; height: 25px; margin-left: 13px; text-align: center; width: 25px; }
.b-footer-menu-social-services-item-link { border: none; color: white; line-height: 25px; text-decoration: none; }
.b-item-icon__categories > div {height: 100%;}
.b-orders-item-image { border-radius: 71px; border: 1px solid #eeeeee; height: 134px; margin: auto; overflow: hidden; width: 134px; }
.b-centered-form__content { margin: 70px auto 120px auto; width: 443px; }
.b-grid-column-employee {margin-top: 35px;}
.b-position__content {margin-top: 53px;}
.b-request-form__content-position { margin-bottom: 100px; width: 448px; }
.b-request-form__content-position-title { color: #736f6f; font-size: 20px; margin-bottom: 30px; margin-top: 43px; }
.b-avatar__request { float: left; height: 70px; position: absolute; width: 70px; }
.b-avatar__response { float: right; height: 70px; width: 70px; }
.b-chat-message__request { background-color: #FFFFFF; border-radius: 2px; margin-bottom: 15px; margin-left: 80px; padding: 15px 30px; position: relative; width: calc(100% - 150px);  max-width: 460px; }
.b-chat-message__request-without-avatar { background-color: #FFFFFF; border-radius: 2px; margin-bottom: 15px; margin-left: 80px; padding: 15px 30px; position: relative; width: calc(100% - 150px);  max-width: 460px; }
.b-chat-message__request:before { border-color: transparent #ffffff transparent transparent; border-style: solid; border-width: 7px 9px 7px 0; content: ' '; display: block; height: 0; left: -9px; position: absolute; width: 0; }
.b-chat-message__response { background-color: #FFFFFF; border-radius: 2px; float: right; margin-bottom: 15px; margin-right: 10px; padding: 15px 30px; position: relative; width: calc(100% - 150px);  max-width: 460px; }
.b-chat-message__response-without-avatar { background-color: #FFFFFF; border-radius: 2px; float: right; margin-bottom: 15px; margin-right: 80px; padding: 15px 30px; position: relative;  width: calc(100% - 150px);  max-width: 460px; }
.b-chat-message__response:before { border-color: transparent transparent transparent #ffffff; border-style: solid; border-width: 7.5px 0 7.5px 10px; content: ' '; display: block; height: 0; position: absolute; right: -9px; width: 0; }
.b-message__request {overflow: hidden;}
.b-message__response {overflow: hidden;}
.b-message__order {overflow: hidden;}
.b-loader { height: 35px; overflow: hidden; }
.b-operator-form {text-align: center;}
.b-columns {display: table;}
.b-column {display: table-cell;}
.b-order-text {float: left;}
.b-payed { margin: 10px auto 25px auto; width: 180px; }
.b-popup {z-index: 1000; height: 160px; width: 600px; background-color: #ffffff; box-shadow: 0 0 0 9999px rgba(0,0,0,0.4); position: fixed; left: 0; top: 0; right: 0;  bottom: 0; margin: auto; padding: 50px 60px; }
.b-text__copyright {padding-left: 11px; padding-top: 0; float: left;}
.b-text__copyright:after {	visibility: hidden;  display: block;  font-size: 0;  content: " "; clear: both;  height: 0;}
.b-link__copyright {display: block; color: transparent; }
.b-copyright {}
.b-copyright:after {visibility: hidden;  display: block;  font-size: 0;  content: " "; clear: both;  height: 0;}
.b-copyright:hover {border-bottom: transparent;}
.b-payment-systems {padding-left: 20px; list-style: none; float: left; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.b-payment-system { margin-left: 15px; display: inline-block; vertical-align: middle;}
.b-popup-menu {position: absolute; margin-top: -170px; background-color: #FFFFFF; padding: 20px 25px; border-radius: 3px; box-shadow: 0 4px 18px -3px rgba(0,0,0,0.6); margin-left: 65px; }
.b-popup-menu:after {left: 15%; display: block; content: ' '; width: 0; height: 0; border-style: solid; border-width: 8px 8px 0 8px; border-color: #ffffff transparent transparent transparent; bottom: -8px; position: absolute;}
.b-slider { position: relative; padding: 0 60px;}
.b-scrollable {overflow: visible;}
.b-scrollable__false {overflow: hidden;}
.b-send-button__top-content {display: inline-block; width: 23.1%; position: relative; z-index: 100;}
.b-full-version__link {margin-bottom: 20px; margin-top: -20px; cursor: pointer; display: none; text-decoration: underline;font-size: 14px; font-family: 'Open Sans', sans-serif; color: #ec6969; line-height: 1em; text-align: center;}
.b-full-version__link:hover {text-decoration: none;}

.e-right-arrow__send-button {position: absolute; color: white; font-size: 220%; left: 50%; top: 50%; -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%);}
.e-item__popup-menu {display: block; font-family: 'Open Sans', sans-serif; font-size: 13px; color: #878787; margin-bottom: 15px;}
.e-item__popup-menu:last-child {margin-bottom: 0;}
.e-item__popup-menu:hover {text-decoration: none;}
.e-header-title { color: #ec6969; display: block; float: left; font-family: 'Roboto', sans-serif; font-size: 28px; font-weight: 500; line-height: 75px; text-decoration: none; text-transform: uppercase; }
.e-header-title:after { content: "бета"; color: #888888; font-family: 'Open Sans', sans-serif; font-style: italic; font-size: 12px; text-decoration: none; text-transform: none; position: relative; top: -16px; left: 1px;}
.e-menu-item__header { float: left; margin-left: 35px; }
.e-menu-item-link__header-selected {float: left;}
.e-menu-item-link__header-selected:before { background: url("/bundles/app/images/icons/e-menu-item-link__header-selected.png"); content: ''; display: block; height: 6px; left: 50%; margin-left: -6.5px; margin-top: -6px; position: relative; /*border-bottom: 6px solid #ec6969;*/ /*border-right: 6px solid transparent;*/ /*border-left: 6px solid transparent;*/ /*width: 0;*/ /*height: 0;*/ top: 81px; width: 13px; }
.e-menu-item-link__header-selected, .e-menu-item-link__header-selected:visited , .e-menu-item-link__header-selected:active {color: #ec6969;}
.e-menu-item-link__header-selected:hover {text-decoration: none;}
.e-menu-item-link__header, .e-menu-item-link__header:visited , .e-menu-item-link__header:active {color: #ec6969;}
.e-menu-item-link__header:hover {text-decoration: none;}
.e-footer-menu-item-link, .e-footer-menu-item-link:visited , .e-footer-menu-item-link:active {color: #000000;}
.e-footer-menu-item-link:hover {text-decoration: none;}
.e-input-text__top-content {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; border-radius: 1px; border: 0; float: left; font-size: 137.5%; height: 66px; outline: none; padding-left: 3.7%; width:76.8%;}
.e-input-text__top-content::-webkit-input-placeholder { color: #3b3b48; font-family: 'Open Sans', sans-serif; font-weight: 300; opacity: 0.3; position: relative; top: -2px; }
.e-input-text__top-content:-moz-placeholder { color: #3b3b48; font-family: 'Open Sans', sans-serif; font-weight: 300; opacity: 0.3; position: relative; top: -2px; }
.e-input-text__top-content::-moz-placeholder { color: #3b3b48; font-family: 'Open Sans', sans-serif; font-weight: 300; opacity: 0.3; position: relative; top: -2px; }
.e-input-text__top-content:-ms-input-placeholder { color: rgba(59,59,72, 0.3); font-family: 'Open Sans', sans-serif; font-weight: 300; position: relative; }
.e-categories-text-main { color: #736f6f; font-size: 24px; }
.e-categories-text-second { color: #736f6f; font-size: 112.5%; margin-top: 18px; opacity: 0.66; }
.e-orders-item-image { -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); display: block; margin: auto; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); vertical-align: middle; }
.e-item-icon__food-categories {background: url("/bundles/app/images/icons/e-page-categories-items-item-icon-food.png");}
.e-item-icon__flower-categories {background: url("/bundles/app/images/icons/e-page-categories-items-item-icon-book.png");}
.e-item-icon__apple-categories {background: url("/bundles/app/images/icons/e-page-categories-items-item-icon-book.png");}
.e-item-icon__book-categories {background: url("/bundles/app/images/icons/e-page-categories-items-item-icon-book.png");}
.e-item-icon__theater-categories {background: url("/bundles/app/images/icons/e-page-categories-items-item-icon-theater.png");}
.e-item-icon__fixer-categories {background: url("/bundles/app/images/icons/e-page-categories-items-item-icon-fixer.png");}
.e-item-icon__cleaner-categories {background: url("/bundles/app/images/icons/e-page-categories-items-item-icon-cleaner.png");}
.e-item-icon__tickets-categories {background: url("/bundles/app/images/icons/e-page-categories-items-item-icon-tickets.png");}
.e-item-text__categories { color: #736f6f; font-family: 'Open Sans', sans-serif; font-size: 93.8%; font-weight: 600; margin-top: 13px; text-align: center; width: 123px; }
.e-separator__big-container { background: url("/bundles/app/images/e-page-separator.png"); height: 1px; margin: 2% auto 4.1% auto; max-width: 1100px; min-width: 0; }
.e-orders-text { color: #736f6f; font-size: 150%; margin-bottom: 55px; text-align: center; }
.e-orders-items-item-price {top: 0px; border-radius: 5px; background-color: #ec6969; color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 17px; font-weight: 600; margin-left: 80px; margin-top: 113px; padding: 11px; position: absolute; white-space: nowrap; }
.e-orders-items-item-price::before {border-radius: 45px; border-bottom: 24px solid transparent; border-right: 20px solid #ec6969; border-top: 22px solid transparent; content: ''; height: 0; margin-left: -28px; margin-top: -11px; position: absolute; width: 0; }
.e-orders-items-item-price-ruble {font-family: 'PT Rouble Sans', sans-serif;}
.e-orders-items-item-time { color: #736f6f; font-size: 13px; margin-top: 35px; opacity: 0.5; text-align: center; width: 136px; }
.e-orders-items-item-title { white-space: normal; color: #736f6f; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 600; margin-top: 10px; text-align: center; width: 150px; }
.e-input-button__top-content {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #ee9695; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee9695), color-stop(100%,#d58584)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ee9695 0%,#d58584 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ee9695 0%, #d58584 100%); background: linear-gradient(to bottom, #ee9695 0%,#d58584 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9695', endColorstr='#d58584',GradientType=0 ); /* W3C */ font-family: "Open Sans"; font-size: 137.5%; font-weight: 400; height: 66px; outline: none; width: 100%; border-radius: 0; }
.e-input-button__top-content:hover { background: #fba8a8; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fba8a8), color-stop(100%,#d58584)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #fba8a8 0%,#d58584 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fba8a8 0%, #d58584 100%); background: linear-gradient(to bottom, #fba8a8 0%,#d58584 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba8a8', endColorstr='#d58584',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-input-button__top-content:active { background: #ec9292; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9292), color-stop(100%,#d58584)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ec9292 0%,#d58584 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ec9292 0%, #d58584 100%); background: linear-gradient(to bottom, #ec9292 0%,#d58584 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9292', endColorstr='#d58584',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-footer-applications-text { color: #FFFFFF; font-size: 24px; padding-bottom: 44px; padding-top: 43px; text-align: center; }
.e-footer-applications-items-item-logo-android { background: url("/bundles/app/images/e-page-footer-applications-items-item-logo-android.png") no-repeat; height: 42px; width: 36px; }
.e-footer-applications-items-item-logo-windows-phone { background: url("/bundles/app/images/e-page-footer-applications-items-item-windows-phone.png") no-repeat; height: 42px; width: 36px; }
.e-footer-applications-items-item-logo-apple { background: url("/bundles/app/images/e-page-footer-applications-items-item-logo-apple.png") no-repeat; height: 40px; width: 32px; }
.e-link__footer-applications-items-item {text-decoration: none;}
.e-footer-menu-title { width: 60px; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); color: #ec6969; font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: 500; position: relative; text-transform: uppercase; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.e-title-primary__top-content { color: #ffffff; font-size: 24px; text-align: center; }
.e-title-secondary__top-content { color: #ffffff; font-size: 18px; margin-top: 10px; opacity: 0.66; text-align: center; }
.e-form-input__centered-full-width { -webkit-box-sizing: border-box; border: 1px solid #d9d9d9; box-sizing: border-box; font-size: 16px; height: 46px; margin-bottom: 15px; outline: none; padding-left: 20px; width: 100%;-moz-box-sizing: border-box; }
.e-form-input__centered-full-width::-webkit-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-form-input__centered-full-width:-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 18- */ }
.e-form-input__centered-full-width::-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 19+ */ }
.e-form-input__centered-full-width:-ms-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-form-input__centered::-webkit-input-placeholder { color: #3b3b48; color: rgba(0,0,0,0.25); opacity: 0.3; position: relative; }
.e-form-input__centered:-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 18- */ }
.e-form-input__centered::-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 19+ */ }
.e-form-input__centered:-ms-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-form-input__centered-right-align::-webkit-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-form-input__centered-right-align:-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 18- */ }
.e-form-input__centered-right-align::-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 19+ */ }
.e-form-input__centered-right-align:-ms-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-form-input__centered-right-align { -webkit-box-sizing: border-box; border: 1px solid #d9d9d9; box-sizing: border-box; float: right; font-size: 16px; height: 46px; margin-bottom: 15px; outline: none; padding-left: 20px; -moz-box-sizing: border-box; }
.e-form-input__centered { -webkit-box-sizing: border-box; border: 1px solid #d9d9d9; box-sizing: border-box; font-size: 16px; height: 46px; margin-bottom: 15px; max-width: 176px; outline: none; padding-left: 20px; -moz-box-sizing: border-box; }
.e-form-input__centered::-webkit-input-placeholder { color: #3b3b48; opacity: 0.3; position: relative; }
.e-form-input__centered:-moz-placeholder { color: #3b3b48; opacity: 0.3; /* Firefox 18- */ position: relative; }
.e-form-input__centered::-moz-placeholder { color: #3b3b48; opacity: 0.3; /* Firefox 19+ */ position: relative; }
.e-page-centered-form-input:-ms-input-placeholder { color: #9494a5; opacity: 0.8; position: relative; }
.e-red-separator__full-width { background-color: #ec6969; height: 4px; width: 100%; }
.e-form-input__centered-form-button { -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #df6363; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df6363), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #df6363 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #df6363 0%, #c85959 100%); background: linear-gradient(to bottom, #df6363 0%,#c85959 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6363', endColorstr='#c85959',GradientType=0 ); /* W3C */ font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 400; height: 50px; margin-top: 5px; outline: none; width: 100%; }
.e-form-input__centered-form-button:hover { background: #fba8a8; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fba8a8), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #fba8a8 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fba8a8 0%, #c85959 100%); background: linear-gradient(to bottom, #fba8a8 0%,#c85959 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba8a8', endColorstr='#c85959',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-form-input__centered-form-button:active { background: #ec9292; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9292), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ec9292 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ec9292 0%, #c85959 100%); background: linear-gradient(to bottom, #ec9292 0%,#c85959 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9292', endColorstr='#c85959',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-form-input__centered-form-button:disabled { opacity: 0.5; }
.e-form-input__centered-form-button:disabled:hover { opacity: 0.5; -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #df6363; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df6363), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #df6363 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #df6363 0%, #c85959 100%); background: linear-gradient(to bottom, #df6363 0%,#c85959 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6363', endColorstr='#c85959',GradientType=0 ); /* W3C */ font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 400; height: 50px; margin-top: 5px; outline: none; width: 100%; }
.e-grid-column-title { color: #736f6f; font-size: 24px; margin-top: 60px; opacity: 0.66; }
.e-page-centered-form-input__full-width {width: 100%;}
.e-page-centered-form-input__right-align {float: right;}
.e-grid-column-employee-full-name {color: #736f6f;}
.e-grid-column-employee-position { color: #736f6f; margin-left: 15px; opacity: 0.4; }
.e-grid-column-employee-contact { color: #736f6f; font-size: 14px; margin-top: 10px; }
.e-grid-column-employee-email { color: #df6363; font-size: 14px; margin-left: 15px; }
.e-grid-column-employee-email:hover {text-decoration: none;}
.e-grid-column-address { color: #736f6f; font-size: 16px; margin-top: 31px; }
.e-grid-column-request-for-coming { color: #736f6f; font-size: 16px; margin-top: 40px; opacity: 0.5; }
.e-big-title__content-careers { color: #736f6f; font-size: 24px; margin-bottom: -10px; margin-top: 60px; }
.e-position-title__content { color: #736f6f; font-size: 20px; margin-bottom: 10px; opacity: 0.66; }
.e-position-description__content { color: #736f6f; font-size: 14px; }
.e-page-content-position-request-form-title-secondary { color: #736f6f; font-size: 16px; margin-top: 28px; }
.e-request-form-item__content-position { -webkit-box-sizing: border-box; border: solid #d9d9d9 1px; box-sizing: border-box; font-size: 16px; height: 45px; margin-top: 15px; outline: none; padding-left: 20px; width: 98%; -moz-box-sizing: border-box; }
.e-request-form-item__content-position-select { -moz-appearance: none; -webkit-appearance: none; -webkit-box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url("/bundles/app/images/icons/e-request-form-item__content-position-select-arrow.png") no-repeat 94.5% 21px; border: solid #d9d9d9 1px; box-sizing: border-box; font-size: 16px; height: 45px; margin-top: 15px; outline: none; padding-left: 17px; width: 98%;-moz-box-sizing: border-box; }
.e-request-form-item__content-position-select::-ms-expand {display: none;}
.e-request-form-item__file-content-position {margin-top: 20px;}
.e-page-content-position-request-form-items-item-submit { -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #e06464; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e06464), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #e06464 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #e06464 0%, #c85959 100%); background: linear-gradient(to bottom, #e06464 0%,#c85959 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06464', endColorstr='#c85959',GradientType=0 ); /* W3C */ font-family: 'Open Sans', sans-serif; font-size: 137.5%; font-size: 16px; font-weight: 400; outline: none; }
.e-page-content-position-request-form-items-item-submit:hover { background: #fba8a8; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fba8a8), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #fba8a8 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fba8a8 0%, #c85959 100%); background: linear-gradient(to bottom, #fba8a8 0%,#c85959 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba8a8', endColorstr='#c85959',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-page-content-position-request-form-items-item-submit:active { background: #ec9292; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9292), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ec9292 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ec9292 0%, #c85959 100%); background: linear-gradient(to bottom, #ec9292 0%,#c85959 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9292', endColorstr='#c85959',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-page-content-position-request-form-items-item-submit:disabled {opacity: 0.5; -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #e06464; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e06464), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #e06464 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #e06464 0%, #c85959 100%); background: linear-gradient(to bottom, #e06464 0%,#c85959 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06464', endColorstr='#c85959',GradientType=0 ); /* W3C */ font-family: 'Open Sans', sans-serif; font-size: 137.5%; font-size: 16px; font-weight: 400; outline: none; }
.e-page-content-position-request-form-items-item-submit:hover:disabled {opacity: 0.5; -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #e06464; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e06464), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #e06464 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #e06464 0%, #c85959 100%); background: linear-gradient(to bottom, #e06464 0%,#c85959 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06464', endColorstr='#c85959',GradientType=0 ); /* W3C */ font-family: 'Open Sans', sans-serif; font-size: 137.5%; font-size: 16px; font-weight: 400; outline: none; }
.e-request-form-requirements__content-position { font-size: 12px; margin: 17px 0; opacity: 0.5; }
.e-separator__gray-full-width { background: url("/bundles/app/images/e-page-separator.png"); height: 1px; margin-bottom: 4.1%; margin-top: 60px; width: 100%; }
.e-footer-menu-social-services-item-link-vkontakte { background: url("/bundles/app/images/icons/b-page-footer-menu-item-link-vkontakte.png"); display: block; height: 25px; width: 25px; }
.e-footer-menu-social-services-item-link-twitter { background: url("/bundles/app/images/icons/b-footer-menu-social-services-twitter.png"); display: block; height: 25px; width: 25px; }
.e-footer-menu-social-services-item-link-instagram { background: url("/bundles/app/images/icons/b-footer-menu-social-services-instagram.png"); display: block; height: 25px; width: 25px; }
.e-footer-menu-social-services-item-link-facebook { background: url("/bundles/app/images/icons/b-footer-menu-social-services-facebook.png"); display: block; height: 25px; width: 25px; }
.e-request-form-item__content-position::-webkit-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-request-form-item__content-position:-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 18- */ }
.e-request-form-item__content-position::-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 19+ */ }
.e-request-form-item__content-position:-ms-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-avatar__image { background-color: #cbc9b6; border-radius: 30px; height: 50px; margin: 0 auto; overflow: hidden; width: 50px; }
.e-avatar__title { color: #757373; font-family: 'Open Sans', sans-serif; font-size: 12px; margin-top: 0; opacity: 0.5; text-align: center; }
.e-chat-message__text { color: #000000; font-family: 'Open Sans', sans-serif; font-size: 15px; opacity: 0.66; width: calc(100% - 50px); }
.e-chat-message__order-text { color: #ec6969; font-family: 'Open Sans', sans-serif; font-size: 15px; width: 90%; }
.e-chat-message__time { color: #000000; font-family: 'Open Sans', sans-serif; font-size: 13px; opacity: 0.35; position: absolute; right: 40px; top: 15px; }
.e-chat-message__separator { border-bottom: #efebeb solid 1px; margin: 20px 0; width: 100%; }
.e-chat-message__link, .e-chat-message__link:visited {color: #ec6969;}
.e-chat-message__link:hover {text-decoration: none;}
.e-loader__spinner { background-size: 100%; background: url('/bundles/app/images/e-loader__spinner.gif') no-repeat; float: left; height: 35px; width: 35px; }
.e-loader__text { -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); color: #757373; font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 600; left: 10px; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.e-operator-form__title { color: #757373; font-family: 'Open Sans', sans-serif; font-size: 16px; margin-bottom: 25px; opacity: 0.75; text-align: center; }
.e-operator-form__input { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 2px; border: rgba(202,200,187, 0.75) solid 1px; box-sizing: border-box; font-family: 'Open Sans', sans-serif; height: 44px; margin-top: 10px; padding-left: 20px; width: 100%; }
.e-operator-form__input::-webkit-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-operator-form__input:-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 18- */ }
.e-operator-form__input::-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 19+ */ }
.e-operator-form__input:-ms-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-operator-form__input-name { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 2px; border: rgba(202,200,187, 0.75) solid 1px; box-sizing: border-box; font-family: 'Open Sans', sans-serif; height: 44px; padding-left: 20px; width: 34.5%; }
.e-operator-form__input-name::-webkit-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-operator-form__input-name:-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 18- */ }
.e-operator-form__input-name::-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 19+ */ }
.e-operator-form__input-name:-ms-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-operator-form__input-phone { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 2px; border: rgba(202,200,187, 0.75) solid 1px; box-sizing: border-box; font-family: 'Open Sans', sans-serif; height: 44px; margin: 0 5px; padding-left: 20px; width: 28.1%; }
.e-operator-form__input-phone::-webkit-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-operator-form__input-phone:-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 18- */ }
.e-operator-form__input-phone::-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 19+ */ }
.e-operator-form__input-phone:-ms-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-operator-form__input-email { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 2px; border: rgba(202,200,187, 0.75) solid 1px; box-sizing: border-box; font-family: 'Open Sans', sans-serif; height: 44px; padding-left: 20px; width: 34.5%; }
.e-operator-form__input-email::-webkit-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-operator-form__input-email:-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 18- */ }
.e-operator-form__input-email::-moz-placeholder { color: rgba(0,0,0,0.25); position: relative; /* Firefox 19+ */ }
.e-operator-form__input-email:-ms-input-placeholder { color: rgba(0,0,0,0.25); position: relative; }
.e-operator-form__submit { -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #e06464; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e06464), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #e06464 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #e06464 0%, #c85959 100%); background: linear-gradient(to bottom, #e06464 0%,#c85959 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06464', endColorstr='#c85959',GradientType=0 ); /* W3C */ font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 400; margin-top: 15px; outline: none; padding: 12px 90px; }
.e-operator-form__submit:hover { background: #fba8a8; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fba8a8), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #fba8a8 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fba8a8 0%, #c85959 100%); background: linear-gradient(to bottom, #fba8a8 0%,#c85959 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba8a8', endColorstr='#c85959',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-operator-form__submit:active { background: #ec9292; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9292), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ec9292 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ec9292 0%, #c85959 100%); background: linear-gradient(to bottom, #ec9292 0%,#c85959 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9292', endColorstr='#c85959',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-order-text__title { color: #6b6969; font-family: 'Open Sans', sans-serif; font-size: 15px; opacity: 0.5; }
.e-order-text__sum { color: #6b6969; font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 600; }
.e-order__button { -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #e06464; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e06464), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #e06464 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #e06464 0%, #c85959 100%); background: linear-gradient(to bottom, #e06464 0%,#c85959 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06464', endColorstr='#c85959',GradientType=0 ); /* W3C */ float: right; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 400; margin-right: 48px; outline: none; padding: 12px 40px; }
.e-order__button:hover { background: #fba8a8; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fba8a8), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #fba8a8 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fba8a8 0%, #c85959 100%); background: linear-gradient(to bottom, #fba8a8 0%,#c85959 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba8a8', endColorstr='#c85959',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-order__button:active { background: #ec9292; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9292), color-stop(100%,#c85959)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ec9292 0%,#c85959 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ec9292 0%, #c85959 100%); background: linear-gradient(to bottom, #ec9292 0%,#c85959 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9292', endColorstr='#c85959',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-payed__icon { color: #82ae89; font-size: 30px; margin-right: 10px; }
.e-payed__text { color: #82ae89; font-family: 'Open Sans', sans-serif; font-size: 18px; }
.e-header__popup { background: url("/bundles/app/images/b-popup__close-icon.png") no-repeat; width: 11px; height: 11px;float: right; position: absolute; right: 20px; top: 20px; cursor: pointer;}
.e-title__popup { color: #736f6f; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 600; margin-bottom: 20px;}
.e-content__popup { color: #736f6f; font-family: 'Open Sans', sans-serif; font-size: 15px; margin-bottom: 20px;}
.e-button__email-block { -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #ee9695; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee9695), color-stop(100%,#d58584)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ee9695 0%,#d58584 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ee9695 0%, #d58584 100%); background: linear-gradient(to bottom, #ee9695 0%,#d58584 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9695', endColorstr='#d58584',GradientType=0 ); /* W3C */ font-family: "Open Sans"; font-size: 16px;font-weight: 400; height: 48px; outline: none; width: 23.1%; }
.e-button__email-block:hover { background: #fba8a8; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fba8a8), color-stop(100%,#d58584)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #fba8a8 0%,#d58584 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fba8a8 0%, #d58584 100%); background: linear-gradient(to bottom, #fba8a8 0%,#d58584 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba8a8', endColorstr='#d58584',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-button__email-block:active { background: #ec9292; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9292), color-stop(100%,#d58584)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ec9292 0%,#d58584 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ec9292 0%, #d58584 100%); background: linear-gradient(to bottom, #ec9292 0%,#d58584 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9292', endColorstr='#d58584',GradientType=0 ); /* W3C */ /* IE6-9 */ }
.e-button__email-block:disabled {opacity: 0.5; -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #ee9695; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee9695), color-stop(100%,#d58584)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ee9695 0%,#d58584 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ee9695 0%, #d58584 100%); background: linear-gradient(to bottom, #ee9695 0%,#d58584 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9695', endColorstr='#d58584',GradientType=0 ); /* W3C */ font-family: "Open Sans"; font-size: 16px;font-weight: 400; height: 48px; outline: none; width: 23.1%; }
.e-button__email-block:disabled:hover {opacity: 0.5; -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6); /* IE6-9 */ background: #ee9695; /* Old browsers */ /* Opera 11.10+ */ /* Chrome10+,Safari5.1+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee9695), color-stop(100%,#d58584)); /* FF3.6+ */ background: -webkit-linear-gradient(top, #ee9695 0%,#d58584 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ee9695 0%, #d58584 100%); background: linear-gradient(to bottom, #ee9695 0%,#d58584 100%); /* IE10+ */ border: 0; box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6); color: #ffffff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9695', endColorstr='#d58584',GradientType=0 ); /* W3C */ font-family: "Open Sans"; font-size: 16px;font-weight: 400; height: 48px; outline: none; width: 23.1%; }
.e-input__email-block { border-radius: 1px; border: #d9d9d9 solid 1px; float: left; font-size: 16px; height: 45px; outline: none; padding-left: 3.7%; width: 71.2%; margin-right: 1.5%; }
.e-input__email-block::-webkit-input-placeholder { color: #3b3b48; font-family: 'Open Sans', sans-serif; font-weight: 300; opacity: 0.3; position: relative; top: -2px; }
.e-input__email-block:-moz-placeholder { color: #3b3b48; font-family: 'Open Sans', sans-serif; /* Firefox 18- */ font-weight: 300; opacity: 0.3; position: relative; top: -2px; }
.e-input__email-block::-moz-placeholder { color: #3b3b48; font-family: 'Open Sans', sans-serif; /* Firefox 19+ */ font-weight: 300; opacity: 0.3; position: relative; top: -2px; }
.e-input__email-block:-ms-input-placeholder { color: rgba(59,59,72, 0.3); font-family: 'Open Sans', sans-serif; font-weight: 300; position: relative; }
.e-image__copyright {background: url("/bundles/app/images/e-image__copyright.png") no-repeat; width: 57px; height: 43px; float: left; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */   filter: gray; /* IE6-9 */  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */}
.e-one-line__text {font-size: 14px; font-family: 'Open Sans', sans-serif; color: #6b6969; text-decoration: none; display: inline-block;}
.e-second-line__text {font-size: 14px; font-family: 'Open Sans', sans-serif; color: #ec6969; white-space: nowrap; border-bottom: #ec6969 solid 1px; line-height: 1em; margin-top: 2px;}
.b-link__copyright:hover .e-second-line__text {border-bottom: transparent;}
.b-link__copyright:hover .e-image__copyright {filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%);}

.e-previous__slider { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none; user-select: none; transition: all .2s linear; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; -o-transition: all .2s linear; z-index: 10; cursor: pointer; display: block; content: ' '; background: url("/bundles/app/images/slider-icons.png") no-repeat; height: 77px; width: 28px; position: relative; margin-top: -28px; top: 170px; }
.e-previous__slider-hidden {visibility: hidden;}
.e-previous__slider:hover { z-index: 10; cursor: pointer; display: block; content: ' '; background: url("/bundles/app/images/slider-icons-hover.png") no-repeat; height: 77px; width: 28px; position: relative; margin-top: -28px; top: 170px; }
.e-next__slider { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none; user-select: none; transition: all .2s linear; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; -o-transition: all .2s linear; cursor: pointer; display: block; content: ' '; background: url("/bundles/app/images/slider-icons.png") no-repeat; height: 77px; width: 28px;  background-position: -28px 0; position: relative; margin-bottom: -28px; bottom: 150px; float: right; }
.e-next__slider-hidden {visibility: hidden;}
.e-next__slider:hover { cursor: pointer; display: block; content: ' '; background: url("/bundles/app/images/slider-icons-hover.png") no-repeat; height: 77px; width: 28px;  background-position: -28px 0; position: relative; margin-bottom: -28px; bottom: 150px; float: right; }
.e-item__slider { display: inline-block;}

/* Third party components */
.nano > .nano-pane { background: none; right: 5px; }
.nano > .nano-pane > .nano-slider {background: rgb(203, 201, 182);}
.ng-hide {  display: none !important;}

.b-orders-items-item {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.b-orders-items-item.ng-hide {
}
.b-orders-items-item.ng-hide-add, .b-orders-items-item.ng-hide-remove {
    display:block!important;
}


/* Validation */
.my-form {background: white;}
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched { border: #E00000 solid 1px; -webkit-transition: 0.5s linear all; transition: 0.5s linear all; }


.nav-collapse li {
    display: inline;
    width: auto;
}


.js .nav-collapse.opened {
    clip: initial; top: 81px; z-index: 100;  position: absolute !important;
}


/* Mobiles and tablets */
@media screen and (max-width: 920px) {
    .l-grid-column {
        float:none;
        margin: 0 auto;
    }
}

@media screen and (max-width: 710px) {
    .b-chat {
        padding: 0;
    }

    .b-operator-form input {
        width: 88%;
        margin: 5px 0;
    }

    .e-operator-form__title {
        width: 85%;
        margin: 0 auto;
    }

    .b-operator-form {
        width: calc(100% - 4%);
    }
}

@media screen and (max-width: 640px) {
    .e-separator__big-container, .l-orders, .l-footer-menu, .l-footer-outer, .b-header-menu, .b-categories-items {
        display: none;
    }

    .b-chat {
        padding: 0;
    }

    .b-operator-form input {
        width: 88%;
        margin: 5px 0;
    }

    .b-chat-message__request {
        margin-bottom: 20px;
    }

    .b-full-version__link {
        display: block;
    }

    .e-link__order {display: block; width: 100%; clear: both;}
    .e-order__button { float: none; margin-top: 10px;}
}

