{% extends 'base.html.twig' %}

{% block seo_title %}{{ snippet('page_title_business_page') | raw }}{% endblock %}

{% block body %}
    <div class="l-page" ng-controller="ChatController">
        <div class="l-header">
            <a class="e-header-title" href="{{ path('homepage') }}">Бюро</a>
            {% include '@App/menu.html.twig' %}
        </div>
        <div style="background: url('/bundles/app/images/l-page-search-form.png')" class="l-top-content-outer">
            <div class="l-top-content-inner">
                <div class="b-top-content">
                    <div class="e-title-primary__top-content">{{ snippet('business_primary_title') | raw }}</div>
                    <div class="e-title-secondary__top-content">{{ snippet('business_secondary_title') | raw }}</div>
                </div>
            </div>
        </div>
        <div class="l-content">
            <div class="b-centered-form__content">
                <form name="business_submit" novalidate class="form-horizontal" action="" role="form" form-model="business">
                    {{ form_widget(form._token) }}
                    {{ form_widget(form.companyName, { 'attr': {'class': 'e-form-input__centered-full-width', 'ng-model': 'business.companyName', 'placeholder': 'Название компании'}}) }}
                    {{ form_widget(form.area, { 'attr': {'class': 'e-form-input__centered-full-width', 'ng-model': 'business.area', 'placeholder': 'Сфера деятельности'}}) }}
                    {{ form_widget(form.company_url, { 'attr': {'class': 'e-form-input__centered-full-width', 'ng-model': 'business.company_url', 'placeholder': 'Сайт компании'}}) }}
                    {{ form_widget(form.person, { 'attr': {'class': 'e-form-input__centered-full-width', 'ng-model': 'business.person', 'placeholder': 'Ответственное лицо'}}) }}
                    {{ form_widget(form.phone, { 'attr': {
                        'class': 'e-form-input__centered',
                        'ng-model': 'business.phone',
                        'placeholder': 'Телефон',
                        'ng-russian-phone-format': '',
                        'mask': '+7 (999) 999-99-99'
                    }}) }}
                    {{ form_widget(form.email, { 'attr': {
                        'class': 'e-form-input__centered-right-align',
                        'ng-model': 'business.email',
                        'placeholder': 'Эл. почта',
                        'ng-pattern': '/.+@[^@]+\.[^@]{2,}$/'
                    }}) }}
                    {{ form_widget(form.comments, { 'attr': {'class': 'e-form-input__centered-full-width', 'ng-model': 'business.comments', 'placeholder': 'Комментарий (необязательно)'}}) }}
                    <input  ng-disabled="business_submit.$invalid"  ng-click="sendAjaxForm($event);ajaxFormUrl='{{ url('submit_business') }}'; $root.prepareSuccessPopup($event);" class="e-form-input__centered-form-button" type="submit" value="Отправить"
                            ng-success-text="{{ snippet('success_business_form_text') }}" ng-success-title="{{ snippet('success_business_form_title') }}" >
                </form>
            </div>
        </div>
        <div class="e-red-separator__full-width"></div>
        <div class="l-footer-menu">
            {% include '@App/footer-menu.html.twig' %}
        </div>
        {% include '@App/success_popup.html.twig' %}
    </div>
{% endblock %}
