{% extends 'base.html.twig' %}

{% block seo_title %}{{ snippet('page_title_career_page') | raw }}{% endblock %}

{% block body %}
    <div class="l-page" ng-controller="ChatController">
        <div class="l-header">
            <a class="e-header-title" href="{{ path('homepage') }}">Бюро</a>
            {% include '@App/menu.html.twig' %}
        </div>
        <div style="background: url('/bundles/app/images/l-page-search-form.png')" class="l-top-content-outer">
            <div class="l-top-content-inner">
                <div class="b-top-content">
                    <div class="e-title-primary__top-content">{{ snippet('career_primary_title') | raw }}</div>
                    <div class="e-title-secondary__top-content">{{ snippet('career_secondary_title') | raw }}</div>
                </div>
            </div>
        </div>
        <div class="l-content"">
            <div class="e-big-title__content-careers">
                Мы ищем специалистов на позиции:
            </div>
            {% for vacancy in vacancies %}
                <div class="b-position__content">
                    <div class="e-position-title__content">{{ vacancy.position }}</div>
                    <div class="e-position-description__content">{{ vacancy.description }}</div>
                </div>
            {% endfor %}
            <div class="e-separator__gray-full-width"></div>
            <div class="b-request-form__content-position">
                <div class="b-request-form__content-position-title">
                    Тебя заинтересовала работа у нас?
                    <div class="e-page-content-position-request-form-title-secondary">
                        Не теряй времени, заполни форму, не забудь приложить
                        свое резюме, и мы свяжется с тобой!
                    </div>
                </div>
                <div class="b-request-form__content-position-items">
                <form name="vacancy_submit" novalidate class="form-horizontal" role="form" form-model="vacancy">
                    {{ form_widget(form._token) }}
                    {{ form_widget(form.vacancy, { 'attr': {'class': 'e-request-form-item__content-position-select', 'ng-model': 'vacancy.vacancy'}}) }}
                    {{ form_widget(form.fullName, { 'attr': {'class': 'e-request-form-item__content-position', 'ng-model': 'vacancy.fullName', 'placeholder': 'ФИО'}}) }}
                    {{ form_widget(form.phone, { 'attr': {
                        'class': 'e-request-form-item__content-position',
                        'ng-model': 'vacancy.phone',
                        'placeholder': 'Телефон',
                        'ng-russian-phone-format': '',
                        'mask': '+7 (999) 999-99-99'
                    }}) }}
                    {{ form_widget(form.email, { 'attr': {
                        'class': 'e-request-form-item__content-position',
                        'ng-model': 'vacancy.email',
                        'placeholder': 'Эл. почта',
                        'ng-pattern': '/.+@[^@]+\.[^@]{2,}$/'
                    }}) }}
                    {{ form_widget(form.comments, { 'attr': {'class': 'e-request-form-item__content-position', 'ng-model': 'vacancy.comments', 'placeholder': 'Комментарий'}}) }}
                    {{ form_widget(form.file, { 'attr': {'valid-file': '', 'class': 'e-request-form-item__file-content-position js-file-input', 'ng-model' : 'vacancy.cv'} }) }}
                    <div class="e-request-form-requirements__content-position">DOC, DOCX, PDF, до 5 Мб</div>
                    <input type="submit" ng-click="$root.prepareSuccessPopup($event);sendAjaxForm($event);ajaxFormUrl='{{ url('submit_vacancy') }}';" ng-disabled="vacancy_submit.$invalid" class="e-request-form-item__content-position e-page-content-position-request-form-items-item-submit" value="Отправить"
                             ng-success-text="{{ snippet('success_career_form_text') }}" ng-success-title="{{ snippet('success_career_form_title') }}" >
                </form>
                </div>
            </div>
        </div>
        <div class="e-red-separator__full-width"></div>
        <div class="l-footer-menu">
            {% include '@App/footer-menu.html.twig' %}
        </div>
    {% include '@App/success_popup.html.twig' %}
{% endblock %}
{% block javascripts %}
        <script>
            $(function() {
                function setupSelectPlaceholder(cssSelector) {
                    $(cssSelector).css('color', 'rgba(0,0,0,0.25)');

                    $(cssSelector).on('change', function() {
                        $(cssSelector).css('color', 'rgba(0,0,0,1)');
                    });
                }

                setupSelectPlaceholder('.e-request-form-item__content-position-select');
            });
        </script>
{% endblock %}