{% extends 'base.html.twig' %}

{% block seo_title %}{{ snippet('page_title_contacts_page') | raw }}{% endblock %}

{% block body %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    <div class="l-page">
        <div class="l-header">
            <a class="e-header-title" href="{{ path('homepage') }}">Бюро</a>
            {% include '@App/menu.html.twig' %}
        </div>
        <div style="background: url('/bundles/app/images/l-page-search-form.png')" class="l-top-content-outer">
            <div class="l-top-content-inner">
                <div class="b-top-content">
                    <div class="e-title-primary__top-content">{{ snippet('contacts_primary_title') | raw }}</div>
                    <div class="e-title-secondary__top-content">{{ snippet('contacts_secondary_title') | raw }}</div>
                </div>
            </div>
        </div>
        <div class="l-content">
            <div class="l-grid">
                <div class="l-grid-column">
                    <div class="e-grid-column-title">Команда проекта</div>
                    {% for employee in employees %}
                        <div class="b-grid-column-employee">
                            <div class="e-grid-column-employee-full-name">{{ employee.fullName }}<span class="e-grid-column-employee-position">{{ employee.position }}</span></div>
                            <div class="e-grid-column-employee-contact">{{ employee.phone }}<a href="mailto:{{ employee.email }}" class="e-grid-column-employee-email">{{ employee.email }}</a></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="l-grid-column">
                    <div class="e-grid-column-title">Наш адрес</div>
                    <div class="e-grid-column-address">{{ address.zip }}, {{ address.city }}, <div>{{ address.address }}</div></div>
                    <div class="e-grid-column-request-for-coming">{{ snippet('contacts_under_address') | raw | raw }}</div>
                </div>
            </div>
        </div>

        <div class="l-map">
            <div id="map" style="width: 100%; height: 300px" class="l-page-map"></div>
        </div>

        <div class="e-red-separator__full-width"></div>
        <div class="l-footer-menu">
            {% include '@App/footer-menu.html.twig' %}
        </div>
    </div>
    {% block javascripts %}
        <script>
            var mapInitialized = false;
            ymaps.ready(function () {
                var address = '{{ address.zip }} {{ address.city }} {{ address.address }}';
                if (!mapInitialized) {
                    mapInitialized = true;
                    $.ajax({
                        url: "https://geocode-maps.yandex.ru/1.x/?format=json&geocode="+ address,
                        success: function( data ) {
                            var coordinates = data.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos.split(" ");
                            var map = new ymaps.Map("map", {
                                center: [coordinates[1], coordinates[0]],
                                zoom: 18,
                                controls: []
                            });
                            map.controls = [];
                            var placemark = new ymaps.Placemark([coordinates[1], coordinates[0]], {
                                balloonContent: '<span style="font-size:16px">{{ address.address }}</span>',
                            }, {
                                preset: 'islands#circleDotIcon',
                                iconColor: '#1faee9',
                                hideIconOnBalloonOpen: false
                            });

                            map.geoObjects.add(placemark);
                            placemark.balloon.open();

                            $("ymaps[class*='ymaps']").eq(2).each(function (i, el) {
                                $(el).css('-webkit-box-shadow', 'inset 10px 10px 156px -23px rgba(0,0,0,0.3)');
                                $(el).css('-moz-box-shadow', 'inset 10px 10px 156px -23px rgba(0,0,0,0.3)');
                                $(el).css('box-shadow', 'inset 10px 10px 156px -23px rgba(0,0,0,0.3)');
                            });
                        }
                    });

                }
            });
        </script>
    {% endblock %}
{% endblock %}
