{% extends 'base.html.twig' %}

{% block seo_title %}{{ snippet('page_title_index_page') | raw }}{% endblock %}

{% block body %}
    <div class="l-page" hj-sticky-container>
        <div ng-class="{'l-header': hidden, 'l-header__fixed': !hidden}" class="l-header">
            <a class="e-header-title" href="{{ path('homepage') }}">Бюро</a>
            {% include '@App/menu.html.twig' %}
        </div>
        <div style="background: url('/bundles/app/images/l-page-search-form.png')" ng-controller="ChatController" ng-class="{'l-top-content-outer': hidden, 'l-top-content-outer__fixed': !hidden}" class="l-top-content-outer" hj-sticky-target hj-sticky-scroll-offset="-81">
            <div  ng-class="{'l-top-content-inner__fixed': hidden, 'l-top-content-inner__fixed': !hidden}" class="l-top-content-inner">
                <div class="b-top-content__with-triangle">
                    <input type="text" id="bureauChatInput" placeholder="{{ snippet('chat_placeholder') | raw }}" class="e-input-text__top-content" ng-model="$root.chatMessage" ng-chat-input>
                    <div class="b-send-button__top-content" ng-click="sendMessage()">
                        <span ng-arrow-element ng-show="$root.rightArrow" class="e-right-arrow__send-button ng-hide fa fa-long-arrow-right"></span>
                        <input
                            type="button" ng-init = "formkey=''" class="e-input-button__top-content js-chat-button"
                            openned-value="{{ snippet('chat_button_message_openned') |e('html') }}" closed-value="{{ snippet('chat_button_message_closed') |e('html')  }}" value="" ng-chat-button
                        >
                    </div>
                </div>
                <span></span>
                <div class="l-top-content-inner__chat nano" ng-chat-content ng-hide="hidden" ng-scrollable style="display: none;">
                    <div class="b-chat nano-content" ng-bureau-chat>
                        <div>
                            <div class="l-top-content-inner__chat-waiting-message" ng-hide="operatorResponded">
                                <div class="b-loader">
                                    <div class="e-loader__spinner"></div>
                                    <div class="e-loader__text">Оператор скоро ответит</div>
                                </div>
                            </div>
                            <div ng-waiting-form="{{ snippet('waiting_form_timeout') }}" class="l-top-content-inner__operator-form" ng-show="!operatorResponded && waitingForm">
                                <div class="b-operator-form">
                                    <div class="e-operator-form__title">Можно не ждать оператора и заполнить эту форму, и мы скоро свяжемся с вами</div>
                                    <div>
                                        <input type="text" ng-model="client.fullName" placeholder="Как вас зовут?" class="e-operator-form__input-name">
                                        <input type="text" ng-model="client.phone" name="phone" placeholder="Телефон" class="e-operator-form__input-phone" ng-not-empty="" ng-russian-phone-format="" mask="+7 (999) 999-99-99" ng-model="phone" ng-required="">
                                        <input type="email" ng-model="client.email" name="email" placeholder="Эл. почта" class="e-operator-form__input-email" ng-model="email" ng-not-empty="" ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" ng-required="">
                                    </div>

                                    <input type="text" ng-model="client.message" placeholder="Что вы хотите?" class="e-operator-form__input">
                                    <input type="submit" class="e-operator-form__submit" ng-success-text="{{ snippet('success_waiting_form_text') }}" ng-success-title="{{ snippet('success_waiting_form_title') }}" ng-click="$root.sendClientDetails($event)" value="Отправить">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-categories" ng-show="hidden">
            <div class="b-categories-text">
                <div class="e-categories-text-main">
                    {{ snippet('index_page_primary_title') | raw }}
                </div>
                <div class="e-categories-text-second">
                    {{ snippet('index_page_secondary_title') | raw }}
                </div>
            </div>
            <div class="b-categories-items">
                {% for service in services %}
                    <div class="b-item__categories" ng-quick-message ng-message="{{ service.chatPlaceholder }}">
                        <div class="b-item-icon__categories">
                            {% set imageUrl = vich_uploader_asset(service, 'imageFile') %} 
                            <div class="e-item-icon__food-categories" style="background: url('{{ imageUrl | imagine_filter('services') }}')"></div>
                        </div>
                        <div class="e-item-text__categories">
                            {{ service.title }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="e-separator__big-container" ng-show="hidden"></div>
        <div ng-slider-container="{{ orders|length > 4 }}" ng-slider-autoslide-timeout="{{ snippet('slider_autoslide_timeout') }}" class="l-orders" ng-show="hidden">
            {% set arrowVisable =orders|length > 4 %}
            <div class="e-orders-text">Чего только у нас не заказывали</div>
            <div class="e-previous__slider{% if not arrowVisable %}-hidden{% endif %}" ng-click="previousSlide()"></div>
            <div class="b-slider">
                <div class="b-orders-items{% if orders|length > 4 and orders|length < 20 %}{% set number = 4 %}__one-line{% endif %}{#{% if orders|length > 8 %}{% set number = 8 %}__two-lines{% endif %}#}">
                    {% for order in orders %}
                        <div ng-quick-message ng-message="{{ order.title }}"  style="position: relative; left: ng{slideOffset}ngpx" class="b-orders-items-item" ng-init="itemSlide[{{ loop.index }}] = false;totalSlides = {{ orders|length }}" >
                            <div class="e-item__slider">
                                <div class="b-orders-item-image">
                                    <img class="e-orders-item-image" src="{{ vich_uploader_asset(order, 'imageFile') | imagine_filter('my_thumb') }}">
                                </div>
                                <span class="e-orders-items-item-price">{{ order.price|price }} <span class="e-orders-items-item-price-ruble">д</span></span>
                                <div class="e-orders-items-item-time">{{ order.date }}</div>
                                <div class="e-orders-items-item-title">{{ order.title }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="e-next__slider{% if not arrowVisable %}-hidden{% endif %}" ng-click="nextSlide()"></div>
        </div>
        <div class="l-footer-outer" ng-show="hidden">
            <div class="l-footer-inner">
                <div class="b-footer-applications">
                    <div class="e-footer-applications-text">Мобильные приложения</div>
                    <div class="b-footer-applications-items">
                        <div class="b-footer-applications-items-item" ng-success-text="{{ snippet('success_request_mobile_application_form_text') }}" ng-success-title="{{ snippet('success_request_mobile_application_form_title') }}" ng-click="popupVisibility = !popupVisibility; mobileApplication = 'iOS'; $root.prepareSuccessPopup($event);">
                            <a class="e-link__footer-applications-items-item" href="#" onclick="event.preventDefault();">
                                <div class="b-footer-applications-items-item-logo">
                                    <div class="e-footer-applications-items-item-logo-apple"></div>
                                </div>
                                <div class="e-footer-applications-items-item-text">App Store</div>
                            </a>
                        </div>
                        <div class="b-footer-applications-items-item" ng-success-text="{{ snippet('success_request_mobile_application_form_text') }}" ng-success-title="{{ snippet('success_request_mobile_application_form_title') }}" ng-click="popupVisibility = !popupVisibility; mobileApplication = 'Android'; $root.prepareSuccessPopup($event);">
                            <a class="e-link__footer-applications-items-item" href="#" onclick="event.preventDefault();">
                                <div class="b-footer-applications-items-item-logo">
                                    <div class="e-footer-applications-items-item-logo-android"></div>
                                </div>
                                <div class="e-footer-applications-items-item-text">Google Play</div>
                            </a>
                        </div>
                        <div class="b-footer-applications-items-item" ng-success-text="{{ snippet('success_request_mobile_application_form_text') }}" ng-success-title="{{ snippet('success_request_mobile_application_form_title') }}" ng-click="popupVisibility = !popupVisibility; mobileApplication = 'Windows Phone'; $root.prepareSuccessPopup($event);">
                            <a class="e-link__footer-applications-items-item" href="#" onclick="event.preventDefault();">
                                <div class="b-footer-applications-items-item-logo">
                                    <div class="e-footer-applications-items-item-logo-windows-phone"></div>
                                </div>
                                <div class="e-footer-applications-items-item-text">Windows Phone</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-footer-menu" ng-show="hidden">
            {% include '@App/footer-menu.html.twig' %}
        </div>
        <a class="b-full-version__link" onclick="javascript:void(0)">Переход на полную версию</a>
    </div>

    <div class="l-popup__applications ng-hide" ng-show="popupVisibility">
        <div class="b-popup">
            <div class="e-header__popup" ng-click="popupVisibility = !popupVisibility"></div>
            <div class="e-title__popup">Мобильные приложения</div>
            <div class="e-content__popup">
                Наши мобильные приложения уже почти готовы.
                Оставьте свой адрес электронной почты, и мы сообщим вам, когда они будут доступны.
            </div>
            <div class="b-email-block">
                <form name="mobileApplicationRequest">
                    <input type="email" required ng-model="popup.email" class="e-input__email-block" placeholder="Эл. почта">
                    <input type="button" ng-disabled="mobileApplicationRequest.$invalid" class="e-button__email-block" ng-popup-send-request value="Отправить">
                </form>
            </div>
        </div>
    </div>
    {% include '@App/success_popup.html.twig' %}
    <audio ng-sound-start-chat class="s-chat__start-chat" preload="auto" autobuffer>
        <source src="/bundles/app/sounds/start_chat.mp3" /> <!-- fallback if no mp3 support in browser -->
    </audio>
    <audio ng-sound-message-chat class="s-chat__message" preload="auto" autobuffer>
        <source src="/bundles/app/sounds/message.mp3" /> <!-- fallback if no mp3 support in browser -->
    </audio>
{% endblock %}
